@charset "utf-8";
/* CSS Document */

/* Calendar Top Navigation */
.dilvery{
	float:left;
	width:100%;
	height:auto;
	overflow:hidden;
}
div#calendar{
  margin:0px auto;
  padding:0px;
  width: 100%; /* 602 */
  font-family:Helvetica, "Times New Roman", Times, serif;
}
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:96.5%;
    height:40px;
    background-color:#b81f25;
	border-top:1px solid #adadad;
	border-left:1px solid #adadad;
	border-right:1px solid #adadad;
	
}
div#calendar div.header{
    line-height:40px;
    vertical-align:middle;
    position:absolute;
    left:1.5%; /* 11px */
    top:0px;
    width:97%; /* 582px */
    height:40px;
    text-align:center;
	z-index: 1;
}
div#calendar div.header a.prev,div#calendar div.header a.next{
    position:relative; /* absolute */
    top:0px;
	width:14px;
    height: 14px;
	top:2px;
    /* display:block; */
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
	margin:0px 13px;
	background-image:url(../images/cal-arrows.png);
	background-repeat:no-repeat;
	display:inline-block;
}
div#calendar div.header span.title{
	font-family: 'Open Sans';
	font-weight: 700;
    font-size:14px; /* 25 */
    color:#FFF;
	padding:0px 5px;
	text-transform:capitalize;
}
div#calendar div.header a.prev{
    /* left:0px; */
	background-position:top left;
}
div#calendar div.header a.next{
    /* right:0px; */
	background-position:top right;
}
div#calendar div.header a.prev:hover{
	background-position:bottom left;
}
div#calendar div.header a.next:hover{
	background-position:bottom right;
}

/* Calendar Content Cells */
div#calendar div.box-content{
	float:left;
    width:96.8%;
	height:auto;
    /* border:1px solid #787878 ; */
	border-bottom:1px solid #adadad;
}
div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    /* margin-bottom: 5px; */
	width:100.5%; /* New Added */
	/* background-color:#adadad; */
}
div#calendar ul.label li{
    margin:0px;
    padding:0px;
	
    /* margin-right:1.28%; */ /* 5px */
	
	padding:6px 1.5%;
	
    float:left;
    list-style-type:none;
    width:11%; /* 80px >> 14.28 >> 13 >> 10 >> 11 */
    height:17px;
    line-height:normal;
    color:#000;
    font-size: 15px;
	border-top:1px solid #FFF;
	border-right:1px solid #FFF;
	border-left:1px solid #adadad;
	
	font-family: 'Open Sans';
	font-weight: 600;
    font-size:11px; /* 25 */
    color:#FFF;
    background-color: #7b7b7b;
	text-transform:capitalize;
}
div#calendar ul.label li + li{
	border-left:0px;
}
div#calendar ul.label li + li + li + li + li + li + li{
	border-right:1px solid #adadad;
}

div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    /* margin-bottom: 1px; */
    /* padding-left: 0.25%;  5px */
	width:100.5%; /* New Added */
	/* background-color:#adadad; */
}
/* overall width = width+padding-right */
div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    list-style-type:none;
	
    /* margin-right:0.28%; */ /* 5px */
    /* margin-top: 1px; */
	
	padding:6px 1.5%;
	
    line-height:normal; /* 80 */
	
    float:left;
    width:11%; /* 80px >> 14.28 >> 13 >> 10 >> 11 */
    height:78px; /* 80 67-10 >> 66 */
    background-color: #DDD;
	
	font-family: 'Open Sans';
	font-weight: 600;
    font-size:11px; /* 25 */
    color:#91918f;
	border-top:1px solid #adadad;
	border-right:1px solid #adadad;
	
	cursor:pointer;
}
div#calendar ul.dates li.start {
	/* margin-right:0.29%;
	margin-left:0.29%; */
	border-left:1px solid #adadad;
}
div#calendar ul.dates li.end {
	/* margin-right:0px; */
	/* width:11.28%; */
}
div#calendar ul.dates li.color-01{
	color:#000000;
}
div#calendar ul.dates li.color-02{
	background-color:#979797;
	color:#ffffff;
}
div#calendar ul.dates li.color-03{
	background-color:#FFF;
	color:#000000;
}
div#calendar ul.dates li.color-04{
	background-color:#b81f25;
	color:#FFF;
}
div#calendar ul.dates li.selected{
	background-color:#e7656a!important; /* bebdbd */
	color:#ffffff!important;
}
:focus{
    outline:none;
}
div.clear{
    clear:both;
}