@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:576px) {
	
	.auto-container{
		width: 96%;
	}
	
	/* Top Section Starts */
	.upr-hed-rgt{
		margin-left: -8px;
		margin-right: -8px;
	}
	.upr-logn ul li{
		padding-right: 11px;
	}
	.upr-crt{
		padding-left: 2px;
	}
	.upr-crt a span.upr-crt2{
		margin-right: 7px;
	}
	.crt-rgt {
		padding-left: 6px;
	}
	.up-reg.acc-lk + .upr-logn ul li{
		padding-right: 6px;
	}
	.up-reg.acc-lk + .upr-logn + .upr-crt{
		float: right;
		padding-right:9px;
	}
	@media only screen and (min-width:400px) and (max-width:576px) {
		.up-reg.acc-lk + .upr-logn + .upr-crt{
			padding-right:0px;
		}
	}
	/* Top Section Ends */
	
	/* Header Sub Section Starts */
	.auto-container-hed {
		width: 96%;
	}
	.search-sec {
		width: 97%;
		margin:10px 0px 0px 1.5%;
	}
	.navbar-toggle {
		position: absolute;
		right: 0;
		bottom: 48px;
		margin-right: 6px;
	}
	.navbar-collapse {
		position: absolute;
		width: 100%;
		z-index: 10;
		background-color: #FFF;
		padding-left:0px;
		top: 97px;
	}
	.navbar-nav {
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 8px;
		padding-bottom: 9px;
	}
	.nav>li{
		padding: 4px 0px;
	}
	.nav>li.mrg-rgt{
		margin-right:0px;
	}
	.nav>li>a{
		margin-left: 12px;
	}
	.nav li.shop-nav {
		margin-left: 12px;
	}
	.nav li.shop-nav a.dropdown-toggle {
		padding-bottom: 0px;
	}
	/* Header Sub Section Ends */
	
	
	/* Main Banner CSS Starts */
	.bx-wrapper .bx-controls-direction a {
		width: 30px!important;
		height: 30px!important;
		background-size:cover;
	}
	.bx-wrapper .bx-prev {
		left: 12px!important;
	}
	.bx-wrapper .bx-next{
		right: 12px!important;
	}
	.wdth-50 {
		width: 96%;
		top: auto;
		margin-left: 0px;
		bottom: 5px;
	}
	.wdth-50 p {
		font-size: 18px !important;
		padding: 0 5%;
	}
	.wdth-50 ul {
		display:none;
	}
	.bnr-sec {
		float: right;
		width:auto;
		padding-top:4px;
	}
	.bnr-sec a.bnr-fb {
		width: 36px;
		height: 36px;
		background-color:#4a6bb2;
		background-position:0px -2px;
	}
	.bnr-sec a.bnr-eml {
		width: 36px;
		height: 36px;
		background-color:#55a32a;
		background-position:-11px -2px;
	}
	/* Main Banner CSS Ends */
	
	/* Homepage Section 02 CSS Starts */
	.catgr-sec {
		padding: 27px 0px 23px 0px;
	}
	.slick-next, .slick-prev {
		top: -21px!important;
	}
	.slick-next {
		right: 3px!important;
	}
	.slick-prev {
		right: 31px!important;
	}
	a.accr-bt {
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
		font-size: 16px;
		line-height: 1.25;
		text-align: center;
	}
	.slick-slide img {
		margin-bottom: 10px;
	}
	/* Homepage Section 02 CSS Ends */
	
	/* Homepage Section 03 CSS Starts */
	.hm-sel-sec{
		padding: 32px 0px 25px 0px;
	}
	.featrd-bx{
		width: 98%; /* 48 */
		margin-left: 1%;
		margin-right: 1%;
		text-align: center;
		padding-bottom: 12px;
	}
	@media only screen and (min-width:481px) and (max-width:576px) {
		.featrd-bx{
			width: 48%;
		}
	}
	.featrd-bx.mrg-rgt-0{
		margin-right: 1%;
	}
	.featrd-bx a {
		padding: 4px 3px 0px 3px;
		margin-bottom: 5px;
	}
	.featrd-bx img{
		display:inline-block;
		margin-bottom: 9px;
	}
	.featrd-bx a span{
		display:block;
	}
	/* Homepage Section 03 CSS Ends */
	
	/* Homepage Section 04 CSS Starts */
	.srch-itm-ar{
		width:100%;
		margin:0px;
		padding: 0px 7% 30px 7%;
	}
	.itm-ar-tit{
		padding-top:0px;
	}
	.itm-ar-tit h5{
		margin-top:5px;
	}
	#map-container{
		width:100%!important;
	}
	#map{
		height: 350px!important;
	}
	/* Homepage Section 04 CSS Ends */
	
	/* Homepage Section 05 CSS Starts */
	.stp-bx-1{
		width:100%;
		margin:0px;
		padding:10px 10% 19px 10%;
	}
	@media only screen and (min-width:481px) and (max-width:576px) {
		.stp-bx-1 {
			padding-left:15%;
			padding-right:15%;
		}
		.stp-1 {
			padding: 0px 15%;
		}
	}
	.stp-bx-2{
		display:none;
	}
	/* Homepage Section 04 CSS Ends */
	
	/* Hompage Section 05 CSS Starts */
	.only-for-lft{
		width:100%;
		margin:0px;
		padding:0px 5%;
	}
	.only-for-lft ul li span{
		width: 100%; /* 31 */
		margin-right: 0;
		text-align: center;
		margin-bottom: 15px;
	}
	.newtag-line{
		font-size: 18px;
		padding: 0px 16px;
	}
	.only-for-lft ul li {
		font-size: 18px;
	}
	.only-for-lft ul li table {
		width: 80%; /* 63 */
		height:auto;
		margin:0px 10%;
		text-align:center;
	}
	.only-for-lft ul li table tr td{
		height:auto;
	}
	@media only screen and (min-width:481px) and (max-width:576px) {
		.only-for-lft{
			width: 50%;
			padding:0px;
		}
	}
	/* Homapage Section 05 CSS Ends */
	
	/* Footer Section Starts */
	.footr-wrp{
		width: 100%;
	}
	.hm-srch-fld{
		width:100%;
	}
	.hm-nws {
		text-align:center;
	}
	.hm-nws h4 {
		margin-top: 7px;
	}
	/* Black Area CSS Starts */
	.footr-wrp-2{
		width:100%;
	}
	.ftr-comp-tit.emptyhdr{
		display:none;
	}
	.fotr-lnk-1.pad-tp-ft {
		padding-top:0px;
		margin-top: -8px;
	}
	.col-md-3.connectSec{
		padding-right: 15px!important;
		padding-left: 15px!important;
	}
	.fot-cpy{
		padding-top: 0px;
		text-align:center;
	}
	.fot-selct{
		float: none;
		width: 157px;
		margin: 14px auto 0px;
	}
	/* Footer Section Ends */
	
	/* About Page CSS Starts */
	
	/* Banner Seciton Starts */
	.whted-bg {
		height: auto;
		min-height: 287px;
		padding: 62px 0px 20px 0px;
		background-position: top center;
	}
	.brd-sec .breadcrumb li {
		font-size: 16px;
	}
	.brd-whit h2 {
		font-size: 35px;
		word-break: break-word;
	}
	/* Banner Seciton Ends */
	.weht-main{
		padding-top:30px;
	}
	.side-nav{
		padding-left: 15px;
		padding-bottom:18px;
	}
	.whted-rgt-sec{
		margin-left:0px;
	}
	.whted-rgt-tit h3{
		font-size:25px;
	}
	.whted-rgt-bx{
		padding: 17px 0px 27px;
	}
	.whted-rgt-bx-lft {
		width:100%;
		text-align:center;
	}
	.whted-rgt-bx-lft img{
		float: none!important;
		display: inline-block!important;
	}
	.whted-rgt-bx-rgt {
		width:100%;
		margin-left:0px;
		margin-right:0px;
		padding-top: 20px;
	    text-align: center;
	}
	
	/* Link 02 Page Setting */
	.guid-rw {
		padding-left:15%;
		padding-right:15%;
	}
	.guid-bx-lft {
		width: 100%;
		margin-right:0px;
		margin-bottom:24px;
	}
	.guid-bx-lft + .guid-bx-lft {
		margin-bottom:0px;
	}
	.guid-rw.mobile-nhide{
		display:none;
	}
	/* Link 02 Page Sub Page Setting */
	.frst-sale-bx-lft {
		width:100%;
		text-align:center;
	}
	.frst-sale-bx-lft img{
		display: inline-block;
	}
	.frst-sale-bx-rgt {
		width:91.4%;
	}
	.hng{
		width: 18%;
		margin-right:1%;
	}
	.abt-get-txt {
		width: 78%;
	}
	/* FAQ Page Settings Starts */
	.faq-emal {
		padding:0px 0px 35px 15px;
		margin-top:-20px;
	}
	.faq-srch{
		width:100%;
	}
	.faq-accord .panel{
		margin-bottom: 17px;
	}
	/* Contact Page Settings */
	.contct-accord {
		width: 96%;
		margin-left: 15px;
		margin-top:-13px;
		margin-bottom:25px;
	}
	.contct-left label.error{
		padding-top: 9px;
		line-height: normal;
	}
	@media only screen and (max-width:445px) {
		.contct-right {
			float:left;
			padding-top:17px;
		}
	}
	@media only screen and (min-width:446px) {
		.contct-left {
			max-width: 69%;
		}
	}
	/* About Page CSS Ends */
	
	/* Terms Page CSS Starts */
	.prvc-tit h2 {
		font-size: 35px;
	}
	.prvcy-txt h3, 
	.prvcy-txt .h3{
		font-size: 20px;
	}
	/* Terms Page CSS Ends */
	
	/* Blog Settings Starts */
	.blog-aside{
		padding-left:15px;
	}
	.blog-main{
		width:100%;
		margin: 40px 0px 0px 0px;
	}
	.blog-lst-wrp{
		padding:0px;
	}
	.blog-list-tit h2{
		font-size: 27px;
	}
	.blog-list-date p{
		font-size: 16px;
	}
	.blog-list-txt, 
	.blog-detail-txt{
		font-size: 18px;
	}
	.blog-lst-btn{
		margin-top:8px;
	}
	.blog-lst-btn a{
		width: 100%;
		padding: 8px 0px;
	}
	.discus-sec a{
		font-size: 17px;
	}
	/* Blog Settings Ends */
	
	/* Careers Settings Starts */
	.carer-bg{
		height: auto;
		min-height: 275px; /* 287 */
		padding: 62px 0px 20px 0px;
		background-position:top center;
	}
	.carer-wrp{
		width:100%; /* 795 of 1094 = 72.66 */
	}
	.carr-tit{
		padding-left:10%;
		padding-right:10%;
	}
	.carr-tit h3{
		font-size: 22px;
		line-height: 1.3;
	}
	.carr-bx{
		width:100%;
		padding:0px 11%;
		margin-right:0px;
		margin-bottom:26px;
		line-height: 1.5;
	}
	.carr-bx img{
		height:auto;
		margin:auto;
	}
	.prk-sec{
		padding-top:26px;
	}
	.prk-rw{
		padding-bottom:0px;
	}
	@media only screen and (max-width:474px) {
		.prk-rw-bx{
			width: 100%;
			padding: 0px 26%;
			margin-right:0px;
			margin-bottom:22px;
		}
	}
	@media only screen and (min-width:475px) and (max-width:576px) {
		.prk-rw-bx{
			width: 50%;
			padding: 0px 7% 15px 7%;
			margin-right:0px;
		}
		.prk-rw-bx + .prk-rw-bx + .prk-rw-bx{
			clear:left;
		}
		.prk-rw-bx + .prk-rw-bx + .prk-rw-bx + .prk-rw-bx{
			clear:none;
		}
	}
	.crr-wrp-2{
		width:80%; /* 540 of 795 = 67.92 */
	}
	.op-lnk{
		width:100%;
		margin: 9px 0px 0px;
	}

	/* Careers Detail Starts */
	.car-det-wrp{
		width:100%; /* 835 of 1094 76.32 */
	}
	.crd-det-upr{
		padding-bottom: 12px;
	}
	.crd-det-upr h2{
		font-size: 28px;
	}
	.crd-det-midd{
		line-height:1.5;
	}
	.jb-frmsec{
		width:100%;
		margin-left:0px;
		margin-right:0px;
		margin-top: 25px;
		padding-left: 22px;
		padding-right: 23px;
	}
	.jobfrm-up span{
		padding-left: 11px;
	}
	.jobfrm-md{
		padding-top:15px;
	}
	.jobfrm-md-inr{
		width:100%;
		margin:0px;
	}
	.jobfrm-md-inr-lft{
		width: 100%;
		text-align:left;
		margin-right: 0px;
		margin-bottom:7px;
	}
	.jobfrm-md-inr-rgt{
		width: 100%;
		margin-bottom: 11px;
	}
	.jobfrm-md-inr-rgt.right-carbtn .input-group-btn{
		padding-top: 7px;
	}
	.jobfrm-md-inr-rgt.right-carbtn .btn.btn-upload-input{
		float: left;
	}	
	.right-carbtn .btn-upload-input2{
		float: left;
	}
	.lnk-prof{
		padding-bottom: 15px;
	}
	.jobfrm-lst .jobfrm-thrd-inr{
		text-align: center;
		margin-right: 0px;
	}
	.jobfrm-lst input[type=submit]{
		float: none;
	}
	.jb-share-sec{
		width: 100%;
		padding: 0px 0px 20px 0px;
		margin:0px; 
		text-align: center;
	}
	.jb-share-sec .share-sec p{
		float: none;
	}
	.jb-share-sec .shr-img {
		float: none;
		display: inline-block;
	}
	/* Careers Settings Ends */

	/* Pricing Benifits Starts */
	.banfit-wrp{
		width: 100%;
	}
	.banfit-upr{
		width: 100%;
		margin: 0px;
	}
	.banfit-upr-tit h2{
		font-size: 32px;
	}
	.banfit-upr-txt hr{
		margin-top: 5px;
		margin-bottom: 20px;
	}
	.banfit-upr-txt{
		font-size: 17px;
	}
	.banfit-upr-txt span + hr{
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.banfit-low-bx{
		width: 100%;
		margin-right: 0px;
		margin-bottom: 30px;
	}
	.banfit-low-bx table{
		margin-bottom: 22px;
	}
	.banfit-low-bx.mrg-rgt-0{
		margin-bottom: 0px;
	}
	.plan-sec-inner{
		padding: 44px 40px;
	}
	.plan-free{
		width: 100%;
		min-height: 100px;
		margin-bottom: 35px;
	}
	.plan-free + .plan-free + .plan-free + .plan-free{
		margin-bottom: 3px;
	}
	.plan-free-hed, 
	.plan-free-bacs{
		height: 158px;
	}
	.plan-free-hed{
		background-image: none; /* 92c64e  bae383 */
		background: #92c64e; /* Old browsers */
		background: -moz-linear-gradient(top, #92c64e 0%, #92c353 52%, #a0d15f 54%, #bae383 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #92c64e 0%,#92c353 52%,#a0d15f 54%,#bae383 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #92c64e 0%,#92c353 52%,#a0d15f 54%,#bae383 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92c64e', endColorstr='#bae383',GradientType=0 ); /* IE6-9 */

	}
	.plan-free-bacs{
		background-image: none; /* 92c64e  bae383 */
		background: #4fbca9; /* Old browsers */
		background: -moz-linear-gradient(top, #4fbca9 0%, #57c3b0 51%, #57c3b0 51%, #51bba9 52%, #64c5b4 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #4fbca9 0%,#57c3b0 51%,#57c3b0 51%,#51bba9 52%,#64c5b4 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #4fbca9 0%,#57c3b0 51%,#57c3b0 51%,#51bba9 52%,#64c5b4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fbca9', endColorstr='#64c5b4',GradientType=0 ); /* IE6-9 */
	}
	.plan-free-pro{
		background-image: none; /* 92c64e  bae383 */
		background: #64b5da; /* Old browsers */
		background: -moz-linear-gradient(top, #64b5da 0%, #66b2d4 52%, #69b9de 53%, #81c8e5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #64b5da 0%,#66b2d4 52%,#69b9de 53%,#81c8e5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #64b5da 0%,#66b2d4 52%,#69b9de 53%,#81c8e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64b5da', endColorstr='#81c8e5',GradientType=0 ); /* IE6-9 */
	}
	.plan-free-delx{
		background-image: none; /* 92c64e  bae383 */
		background: #666666; /* Old browsers */
		background: -moz-linear-gradient(top, #666666 0%, #6b6b6b 52%, #6b6b6b 52%, #626262 53%, #8f8f8f 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #666666 0%,#6b6b6b 52%,#6b6b6b 52%,#626262 53%,#8f8f8f 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #666666 0%,#6b6b6b 52%,#6b6b6b 52%,#626262 53%,#8f8f8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#8f8f8f',GradientType=0 ); /* IE6-9 */
	}
	.plan-free-pro{
		height: 195px;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.plan-free-delx{
		height: 161px;
	}
	.plan-free-hed table tr td h3{
		font-size: 39px;
	}
	.plan-free-bacs table tr td h3{
		font-size: 39px;
	}
	.plan-free-pro table tr td h3{
		font-size: 39px;
	}
	.plan-free-delx table tr td h3{
		font-size: 39px;
	}
	.plan-free-hed table tr td{
		height: 165px;
	}
	.plan-free-feature{
		padding-top: 20px;
	}
	.transc-fee-sec{
		padding: 17px 20px 0px 20px;
	}
	.transc-fee-sec p{
		min-height: 20px;
	}
	.plan-lst{
		padding-bottom: 35px;
	}
	.plan-amount{
		min-height: 20px;
	}
	.evry-plan{
		margin-top: 38px;
	}
	.evry-plan-hed h5, 
	.evry-plan h5{
		padding-bottom: 15px;
	}
	.evry-plan ul li, 
	.evry-plan-hed ul li{
		width: 90%;
		padding-bottom: 15px;
	}
	/* Pricing Benifits Ends */

}

