@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 320px) {
	
	/* Header CSS Settings Starts */
	.cs-left-line{
		width:20%;
		top:47px;
	}
	.cs-right-line{
		top:47px;
		width:20%!important;
	}
	.cs-logo{
		float:left;
		width:100%;
		padding:11px 0px 0px 0%; /* 1.6 = 18 */
		text-align:center;
	}
	.cs-logo img{
		float:none;
	}
	.csbeta-btn{
		float:left;
		position:relative;
		left:50%;
		margin-left:-108px;
		margin-bottom:6px;
	}
	/* Header CSS Settings Ends */
	
	/* Internal CSS Settings Starts */
	.intbl-rp{
		width:100%;
		padding:0px 0%;
		font-size:19px;
	}
	.intbl-rp h1{
		font-size:34px;
		padding:0px 0px 8px 0px;
	}
	.intbl-rp p{
		line-height:1.3;
		padding:0px 0px 10px 0px;
	}
	/* Internal CSS Settings Ends */
	
	/* Footer CSS Settings Starts */
	.cs-fcol{
		width:100%;
	}
	.cs-fcol.right{
		text-align:center;
	}
	.csf-frm{
		float:none;
		width:234px;
		margin:auto; /* 336 */
	}
	.csf-btn{
		float:left;
		width:97.5%;
		margin-left:0.5%;
		margin-top:4px;
	}
	.csf-btn input{
		width:100%;
		height:26px;
	}
	
	.pop-inner{
		width:92%; /*/ 100 - 8 */
		font-size:14px;
		line-height:1.4;
		padding:8px 3.5% 2px 4%;
	}
	.pop-inner h1{
		font-size:23px;
		padding:0px 0px 4px 0px;
	}
	.pop-inner p{
		padding:0px 0px 4px 0px;
	}
	.login-frow{
		padding:0px 0px 10px 0px;
	}
	.log-error{
		margin-bottom:-2px;
	}
	.login-frow .csf-btn{
		float:left;
		width:100%;
		margin-left:0%;
		margin-top:0px;
	}
	.login-frow .csf-btn input{
		width:100%;
		height:36px;
	}
	/* Footer CSS Settings Ends */
	
	.popup-container{
		width:235px;
	}
	
}

@media only screen and  (min-width: 321px) and (max-width: 600px) {
	
	/* Header CSS Settings Starts */
	.cs-left-line{
		width:20%;
		top:47px;
	}
	.cs-right-line{
		top:47px;
		width:20%!important;
	}
	.cs-logo{
		float:left;
		width:100%;
		padding:11px 0px 0px 0%; /* 1.6 = 18 */
		text-align:center;
	}
	.cs-logo img{
		float:none;
	}
	.csbeta-btn{
		float:left;
		position:relative;
		left:50%;
		margin-left:-108px;
		margin-bottom:6px;
	}
	/* Header CSS Settings Ends */
	
	.cs-right-line{
		width:100%;
	}
	
	/* Internal CSS Settings Starts */
	.intbl-rp{
		width:90%;
		padding:0px 5%;
		font-size:20px;
	}
	.intbl-rp h1{
		font-size:36px;
		padding:0px 0px 8px 0px;
	}
	.intbl-rp p{
		line-height:1.3;
		padding:0px 0px 10px 0px;
	}
	/* Internal CSS Settings Ends */
	
	/* Footer CSS Settings Starts */
	.cs-fcol{
		width:100%;
	}
	.cs-fcol.right{
		text-align:center;
	}
	.csf-frm{
		float:none;
		width:300px;
		margin:auto; /* 336 */
	}
	.csf-btn{
		width:60px;
	}
	.csf-btn input{
		width:60px;
	}
	
	.pop-inner{
		width:92%; /*/ 100 - 8 */
		font-size:14px;
		line-height:1.4;
		padding:8px 3.5% 2px 4%;
	}
	.pop-inner h1{
		font-size:23px;
		padding:0px 0px 4px 0px;
	}
	.pop-inner p{
		padding:0px 0px 4px 0px;
	}
	.login-frow{
		padding:0px 0px 10px 0px;
	}
	.log-error{
		margin-bottom:-2px;
	}
	.login-frow .csf-btn{
		float:left;
		width:100%;
	}
	.login-frow .csf-btn input{
		width:100%;
		height:36px;
	}
	/* Footer CSS Settings Ends */
	
	.popup-container{
		width:260px;
	}
	
}

@media only screen and  (min-width: 601px) and (max-width: 800px) {
	
	/* Internal CSS Settings Starts */
	.intbl-rp{
		width:60%;
		padding:0px 20%;
		font-size:23px;
	}
	.intbl-rp h1{
		font-size:45px;
		padding:0px 0px 8px 0px;
	}
	.intbl-rp p{
		line-height:1.3;
		padding:0px 0px 10px 0px;
	}
	/* Internal CSS Settings Ends */
	
	/* Footer CSS Settings Starts */
	.cs-fcol{
		width:61%;
	}
	.cs-fcol.right{
		float:right;
		width:38%;
		padding-top: 7px;
	}
	/* Footer CSS Settings Ends */
}





@media only screen and (max-width: 1275px) {
	.cs-right-line{
		width:81%;
	}
}
@media only screen and (max-width: 1080px) {
	.cs-right-line{
		width:79%;
	}
}
@media only screen and (max-width: 940px) {
	.cs-right-line{
		width:77%;
	}
}
@media only screen and (max-width: 830px) {
	.cs-right-line{
		width:74%;
	}
}
@media only screen and (max-width: 740px) {
	.cs-right-line{
		width:70%;
	}
}
@media only screen and (max-width: 650px) {
	.cs-right-line{
		width:67%;
	}
}
