@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:577px) and (max-width:767px) {
	
	.auto-container{
		width: 96%;
	}
	
	/* Top Section Starts */
	.upr-logn ul li{
		padding-right: 17px;
	}
	.upr-crt{
		padding-left: 17px;
	}
	/* Top Section Ends */
	
	/* Header Sub Section Starts */
	.auto-container-hed {
		width: 96%;
	}
	.search-sec {
		width: 97%;
		margin:10px 0px 0px 1.5%;
	}
	.navbar-toggle {
		position: absolute;
		right: 0;
		bottom: 48px;
		margin-right: 6px;
	}
	.navbar-collapse {
		position: absolute;
		width: 100%;
		z-index: 10;
		background-color: #FFF;
		padding-left:0px;
		top: 97px;
	}
	.navbar-nav {
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 8px;
		padding-bottom: 9px;
	}
	.nav>li{
		padding: 4px 0px;
	}
	.nav>li.mrg-rgt{
		margin-right:0px;
	}
	.nav>li>a{
		margin-left: 12px;
	}
	.nav li.shop-nav {
		margin-left: 12px;
	}
	.nav li.shop-nav a.dropdown-toggle {
		padding-bottom: 0px;
	}
	/* Header Sub Section Ends */
	
	
	/* Main Banner CSS Starts */
	.bx-wrapper .bx-controls-direction a {
		width: 30px!important;
		height: 30px!important;
		background-size:cover;
	}
	.bx-wrapper .bx-prev {
		left: 12px!important;
	}
	.bx-wrapper .bx-next{
		right: 12px!important;
	}
	.wdth-50 {
		width: 91%;
		top: auto;
		bottom: 10px;
	}
	.wdth-50 p {
		font-size: 27px !important;
	}
	.wdth-50 ul li a{
		font-size: 18px;
	}
	.bnr-sec {
		float: right;
		width:auto;
	}
	.bnr-sec a.bnr-fb {
		width: 36px;
		height: 36px;
		background-color:#4a6bb2;
		background-position:0px -2px;
	}
	.bnr-sec a.bnr-eml {
		width: 36px;
		height: 36px;
		background-color:#55a32a;
		background-position:-11px -2px;
	}
	/* Main Banner CSS Ends */
	
	/* Homepage Section 02 CSS Starts */
	.catgr-sec {
		padding: 27px 0px 23px 0px;
	}
	a.accr-bt {
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
		font-size: 16px;
		line-height: 1.25;
		text-align: center;
	}
	.slick-slide img {
		margin-bottom: 10px;
	}
	/* Homepage Section 02 CSS Ends */
	
	/* Homepage Section 03 CSS Starts */
	.hm-sel-sec{
		padding: 32px 0px 25px 0px;
	}
	.featrd-bx{
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
		text-align: center;
		padding-bottom: 12px;
	}
	.featrd-bx.mrg-rgt-0{
		margin-right: 1%;
	}
	.featrd-bx a {
		padding: 4px 3px 0px 3px;
		margin-bottom: 5px;
	}
	.featrd-bx img{
		display:inline-block;
		margin-bottom: 9px;
	}
	.featrd-bx a span{
		display:block;
	}
	/* Homepage Section 03 CSS Ends */
	
	/* Homepage Section 04 CSS Starts */
	.srch-itm-ar{
		width:100%;
		margin:0px;
		padding: 0px 7% 30px 7%;
	}
	.itm-ar-tit{
		padding-top:0px;
	}
	.itm-ar-tit h5{
		margin-top:5px;
	}
	#map-container{
		width:100%!important;
	}
	#map{
		height: 350px!important;
	}
	/* Homepage Section 04 CSS Ends */
	
	/* Homepage Section 05 CSS Starts */
	.stp-bx-1{
		width:100%;
		margin:0px;
		padding:10px 15% 19px 15%;
	}
	.stp-1 {
		padding: 0px 15%;
	}
	.stp-bx-2{
		display:none;
	}
	/* Homepage Section 04 CSS Ends */
	
	/* Hompage Section 05 CSS Starts */
	.only-for-lft{
		width: 50%;
		padding:0px;
		margin:0px;
	}
	.only-for-lft ul li span{
		width: 100%; /* 31 */
		margin-right: 0;
		text-align: center;
		margin-bottom: 15px;
	}
	.newtag-line{
		font-size: 18px;
		padding: 0px 16px;
	}
	.only-for-lft ul li {
		font-size: 18px;
	}
	.only-for-lft ul li table {
		width: 80%; /* 63 */
		height:auto;
		margin:0px 10%;
		text-align:center;
	}
	.only-for-lft ul li table tr td{
		height:auto;
	}
	/* Homapage Section 05 CSS Ends */
	
	/* Footer Section Starts */
	.footr-wrp{
		width: 100%;
	}
	.hm-srch-fld{
		width:70%;
		margin: 0px 15%;
	}
	.hm-nws {
		text-align:center;
	}
	.hm-nws h4 {
		margin-top: 7px;
	}
	/* Black Area CSS Starts */
	.footr-wrp-2{
		width:100%;
	}
	.ftr-comp-tit.emptyhdr{
		display:none;
	}
	.fotr-lnk-1.pad-tp-ft {
		padding-top:0px;
		margin-top: -8px;
	}
	.col-md-3.connectSec{
		padding-right: 15px!important;
		padding-left: 15px!important;
	}
	.fot-cpy{
		padding-top: 0px;
		text-align:center;
	}
	.fot-selct{
		float: none;
		width: 157px;
		margin: 14px auto 0px;
	}
	/* Footer Section Ends */
	
	/* About Page CSS Starts */
	
	/* Banner Seciton Starts */
	.whted-bg {
		height: auto;
		min-height: 287px;
		padding: 62px 0px 20px 0px;
		background-position: top center;
	}
	.brd-sec .breadcrumb li {
		font-size: 16px;
	}
	.brd-whit h2 {
		font-size: 53px;
		word-break: break-word;
	}
	/* Banner Seciton Ends */
	.weht-main{
		padding-top:30px;
	}
	.side-nav{
		padding-left: 15px;
		padding-bottom:18px;
	}
	.whted-rgt-sec{
		width: 98%;
		margin-left:0px;
	}
	/* Link 02 Page Setting */
	.guid-rw.mobile-nhide{
		display:none;
	}
	/* FAQ Page Settings Starts */
	.faq-emal {
		padding:0px 0px 35px 15px;
		margin-top:-20px;
	}
	.faq-srch{
		width:100%;
	}
	.faq-accord .panel{
		margin-bottom: 15px;
	}
	/* Contact Page Settings */
	.contct-accord {
		width: 96%;
		margin-left: 15px;
		margin-top:-13px;
		margin-bottom:25px;
	}
	.contct-left label.error{
		padding-top: 9px;
		line-height: normal;
	}
	/* About Page CSS Ends */
	
	/* Terms Page CSS Starts */
	.prvc-tit h2 {
		font-size: 38px;
	}
	.prvcy-txt h3, 
	.prvcy-txt .h3{
		font-size: 20px;
	}
	/* Terms Page CSS Ends */
	
	/* Blog Settings Starts */
	.blog-aside{
		padding-left:15px;
	}
	.blog-main{
		width:100%;
		margin: 40px 0px 0px 0px;
	}
	.blog-list-tit h2{
		font-size: 32px;
	}
	.blog-list-date p{
		font-size: 17px;
	}
	.blog-list-txt, 
	.blog-detail-txt{
		font-size: 19px;
	}
	.blog-lst-btn{
		margin-top:8px;
	}
	.blog-lst-btn a{
		width: 100%;
		padding: 9px 0px;
	}
	.discus-sec a{
		font-size: 17px;
	}
	/* Blog Settings Ends */
	
	/* Careers Settings Starts */
	.carer-bg{
		height: auto;
		min-height: 275px; /* 287 */
		padding: 62px 0px 20px 0px;
		background-position:top center;
	}
	.carer-wrp{
		width:100%; /* 795 of 1094 = 72.66 */
	}
	.carr-tit{
		padding-left:10%;
		padding-right:10%;
	}
	.carr-tit h3{
		font-size: 22px;
		line-height: 1.3;
	}
	.carr-bx{
		margin-right: 2.7%;
		margin-left: 2.7%;
	}
	.carr-bx img{
		height:auto;
		margin:auto;
	}
	.prk-rw{
		padding-bottom:0px;
	}
	.prk-rw-bx{
		width: 50%;
		padding: 0px 7% 15px 7%;
		margin-right:0px;
	}
	.prk-rw-bx + .prk-rw-bx + .prk-rw-bx{
		clear:left;
	}
	.prk-rw-bx + .prk-rw-bx + .prk-rw-bx + .prk-rw-bx{
		clear:none;
	}
	.crr-wrp-2{
		width:80%; /* 540 of 795 = 67.92 */
	}



	/* Careers Detail Starts */
	.car-det-wrp{
		width:100%; /* 835 of 1094 76.32 */
	}
	.crd-det-midd{
		line-height:1.5;
	}
	.jb-frmsec{
		width:86%;
		margin-left: 7%;
		margin-right: 7%;
	}
	.jobfrm-up span{
		padding-left: 12px;
	}
	.jobfrm-md-inr{
		width: 98%;
		margin: 0px 1%;
	}

	/* Careers Settings Ends */
	
	
}

