@font-face {
    font-family: 'sansserifflfdemibold';
    src: url('sansserifflf-demibold-webfont.eot');
    src: url('sansserifflf-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansserifflf-demibold-webfont.woff') format('woff'),
         url('sansserifflf-demibold-webfont.ttf') format('truetype'),
         url('sansserifflf-demibold-webfont.svg#sansserifflfdemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sansserifflfmedium';
    src: url('sansserifflf-webfont.eot');
    src: url('sansserifflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansserifflf-webfont.woff') format('woff'),
         url('sansserifflf-webfont.ttf') format('truetype'),
         url('sansserifflf-webfont.svg#sansserifflfmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
	margin:0;
	padding:0;
}
.center .slick-center h3{-moz-transform:scale(1.08);-ms-transform:scale(1.08);-o-transform:scale(1.08);-webkit-transform:scale(1.08);color:#e67e22;opacity:1;transform:scale(1.08);}
.center h3{opacity:0.8;transition:all 300ms ease;}
.content{margin:auto;/*padding:2%;*/width:100%;}

.slick-slide .image{/*padding:10px;*/ margin-right:2px}
.slick-slide img{/*border:5px solid #FFF;*/display:block;width:100%;}
.slick-slide img.slick-loading{border:0 }
.slick-slider{/*margin:30px auto 50px;*/}

/* Caption css begins here */
.caption-style-2{
	float: left;
	padding: 0px;
	position: relative;
	overflow: hidden;
	width:100%;
}

.caption-style-2 .image:hover .caption{
	opacity: 1;
	transform: translateY(-100px);
	-webkit-transform:translateY(-100px);
	-moz-transform:translateY(-100px);
	-ms-transform:translateY(-100px);
	-o-transform:translateY(-100px);
}
.caption-style-2 img{
	margin: 0px;
	padding: 0px;
	float: left;
	z-index: 4;
}
.caption-style-2 .caption{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	top:352px;
	width:100%;
	z-index:100;
	-webkit-transition:all 0.10s ease-in-out;
	-moz-transition:all 0.10s ease-in-out;
	-o-transition:all 0.10s ease-in-out;
	-ms-transition:all 0.10s ease-in-out;
	transition:all 0.10s ease-in-out;
}
.caption-style-2 .blur{
	background-color: rgba(0,0,0,0.7);
	height: 300px;
	width: 100%;
	z-index: 5;
	position: absolute;
}
.caption-style-2 .caption-text h1{
		
	text-transform: uppercase;
	font-size: 13px;
	font-weight:bold;
	font-family: 'sansserifflfdemibold';
}
.caption-style-2 .caption-text p{
	font-size: 14px;
	line-height:1.3;
	font-family: 'sansserifflfmedium';
}
.caption-style-2 .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	width: 97%;
	height: 300px;
	text-align: left;
	top:8px;
	padding-left:1.5%;
}
.caption-style-2 .txture{
	position:absolute;
	width:99.6%;
	height:100%;
	display:block;
	background-image:url(../images/dot.png);
	z-index:100;
	left:0;
	top:0;
	opacity:0.7;
}
.caption-style-2 .image:hover .txture{
	display:none;
}
.content .slider a{
	color:#FFF;
}
.content .slider a:hover{
	text-decoration:none;
}
/* Caption css ends here */
@media (max-width: 768px) {

.center{margin-left:-40px;margin-right:-40px;}
.center .slick-center h3{-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);color:#e67e22;opacity:1;transform:scale(1);}
.center h3{-moz-transform:scale(0.95);-ms-transform:scale(0.95);-o-transform:scale(0.95);-webkit-transform:scale(0.95);opacity:0.8;transform:scale(0.95);transition:all 300ms ease;}
.content{margin:auto;padding:20px 40px;width:auto;}
}