@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'museo_slab500';
    src: url('museo_slab_2-webfont.eot');
    src: url('museo_slab_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo_slab_2-webfont.woff2') format('woff2'),
         url('museo_slab_2-webfont.woff') format('woff'),
         url('museo_slab_2-webfont.ttf') format('truetype'),
         url('museo_slab_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'segoeprb';
    src: url('segoeprb.eot');
    src: url('segoeprb.eot?#iefix') format('embedded-opentype'),
         url('segoeprb.woff2') format('woff2'),
         url('segoeprb.woff') format('woff'),
         url('segoeprb.ttf') format('truetype'),
         url('segoeprb.svg#segoeprb') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'Cambria';
  src: url('Cambria.eot?#iefix') format('embedded-opentype'),  url('Cambria.woff') format('woff'), url('Cambria.ttf')  format('truetype'), url('Cambria.svg#Cambria') format('svg');
  font-weight: normal;
  font-style: normal;
}