/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 13px;
	padding: 6px 4px 6px 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #555555;
	padding: 11px 4px 15px 4px;
	background-color: #FFF;
	vertical-align: top;
	word-wrap: break-word;
}
table.tablesorter tbody td a{
	text-decoration:none;
	color: #555555;
}
table.tablesorter tbody td a:hover{
	text-decoration:none;
	/* text-decoration:underline; */
}
table.tablesorter tbody td h3{
	text-transform:capitalize;
	padding:0px 0px 3px 0px;
}
table.tablesorter tbody td h3 a{
	text-decoration:none;
	color: #479ccf;
}
table.tablesorter tbody td h3 a:hover{
	color: #555555;
}
table.tablesorter tbody tr.odd td {
	background-color:#ebeef0;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
table.tablesorter thead tr .header.no-sort{
	cursor:text;
	background-image:none;
}
table.tablesorter thead tr .no-sort.headerSortDown, table.tablesorter thead tr .no-sort.headerSortUp{
	background-color: #e6EEEE;
}
