@charset "utf-8";@media only screen and (max-width:576px){.auto-container{width:96%;}
.upr-hed-rgt{margin-left:-8px;margin-right:-8px;}
.upr-logn ul li{padding-right:11px;}
.upr-crt{padding-left:2px;}
.upr-crt a span.upr-crt2{margin-right:7px;}
.crt-rgt{padding-left:6px;}
.up-reg.acc-lk + .upr-logn ul li{padding-right:6px;}
.up-reg.acc-lk + .upr-logn + .upr-crt{float:right;padding-right:9px;}
@media only screen and (min-width:400px) and (max-width:576px){.up-reg.acc-lk + .upr-logn + .upr-crt{padding-right:0px;}
}
.auto-container-hed{width:96%;}
.search-sec{width:97%;margin:10px 0px 0px 1.5%;}
.navbar-toggle{position:absolute;right:0;bottom:48px;margin-right:6px;}
.navbar-collapse{position:absolute;width:100%;z-index:10;background-color:#FFF;padding-left:0px;top:111px;}
.navbar-nav{margin-left:0px;margin-right:0px;padding-top:8px;padding-bottom:9px;}
.nav>li{padding:4px 0px;}
.nav>li.mrg-rgt{margin-right:0px;}
.nav>li>a{margin-left:12px;}
.nav li.shop-nav{margin-left:12px;}
.nav li.shop-nav a.dropdown-toggle{padding-bottom:0px;}
.bx-wrapper .bx-controls-direction a{width:30px!important;height:30px!important;background-size:cover;}
.bx-wrapper .bx-prev{left:12px!important;}
.bx-wrapper .bx-next{right:12px!important;}
.wdth-50{width:96%;top:auto;margin-left:0px;bottom:5px;}
.wdth-50 p{font-size:18px !important;padding:0 5%;}
.wdth-50 ul{display:none;}
.bnr-sec{float:right;width:auto;padding-top:4px;}
.bnr-sec a.bnr-fb{width:36px;height:36px;background-color:#4a6bb2;background-position:0px -2px;}
.bnr-sec a.bnr-eml{width:36px;height:36px;background-color:#55a32a;background-position:-11px -2px;}
.catgr-sec{padding:27px 0px 23px 0px;}
.slick-next, .slick-prev{top:-21px!important;}
.slick-next{right:3px!important;}
.slick-prev{right:31px!important;}
a.accr-bt{width:94%;margin-left:3%;margin-right:3%;font-size:16px;line-height:1.25;text-align:center;}
.slick-slide img{margin-bottom:10px;}
.hm-sel-sec{padding:32px 0px 25px 0px;}
.featrd-bx{width:98%;margin-left:1%;margin-right:1%;text-align:center;padding-bottom:12px;}
@media only screen and (min-width:481px) and (max-width:576px){.featrd-bx{width:48%;}
}
.featrd-bx.mrg-rgt-0{margin-right:1%;}
.featrd-bx a{padding:4px 3px 0px 3px;margin-bottom:5px;}
.featrd-bx img{display:inline-block;margin-bottom:9px;}
.featrd-bx a span{display:block;}
.srch-itm-ar{width:100%;margin:0px;padding:0px 7% 30px 7%;}
.itm-ar-tit{padding-top:0px;}
.itm-ar-tit h5{margin-top:5px;}
#map-container{width:100%!important;}
#map{height:350px!important;}
.stp-bx-1{width:100%;margin:0px;padding:10px 10% 19px 10%;}
@media only screen and (min-width:481px) and (max-width:576px){.stp-bx-1{padding-left:15%;padding-right:15%;}
.stp-1{padding:0px 15%;}
}
.stp-bx-2{display:none;}
.only-for-lft{width:100%;margin:0px;padding:0px 5%;}
.only-for-lft ul li span{width:100%;margin-right:0;text-align:center;margin-bottom:15px;}
.newtag-line{font-size:18px;padding:0px 16px;}
.only-for-lft ul li{font-size:18px;}
.only-for-lft ul li table{width:80%;height:auto;margin:0px 10%;text-align:center;}
.only-for-lft ul li table tr td{height:auto;}
@media only screen and (min-width:481px) and (max-width:576px){.only-for-lft{width:50%;padding:0px;}
}
.footr-wrp{width:100%;}
.hm-srch-fld{width:100%;}
.hm-nws{text-align:center;}
.hm-nws h4{margin-top:7px;}
.footr-wrp-2{width:100%;}
.ftr-comp-tit.emptyhdr{display:none;}
.fotr-lnk-1.pad-tp-ft{padding-top:0px;margin-top:-8px;}
.col-md-3.connectSec{padding-right:15px!important;padding-left:15px!important;}
.fot-cpy{padding-top:0px;text-align:center;}
.fot-selct{float:none;width:157px;margin:14px auto 0px;}
.whted-bg{height:auto;min-height:287px;padding:62px 0px 20px 0px;background-position:top center;}
.brd-sec .breadcrumb li{font-size:15px;}
.brd-whit h2{font-size:35px;word-break:break-word;}
.weht-main{padding-top:30px;}
.side-nav{padding-left:15px;padding-bottom:18px;}
.whted-rgt-sec{margin-left:0px;}
.whted-rgt-tit h3{font-size:25px;}
.whted-rgt-bx{padding:17px 0px 27px;}
.whted-rgt-bx-lft{width:100%;text-align:center;}
.whted-rgt-bx-lft img{float:none!important;display:inline-block!important;}
.whted-rgt-bx-rgt{width:100%;margin-left:0px;margin-right:0px;padding-top:20px;text-align:center;}
.guid-rw{padding-left:15%;padding-right:15%;}
.guid-bx-lft{width:100%;margin-right:0px;margin-bottom:24px;}
.guid-bx-lft + .guid-bx-lft{margin-bottom:0px;}
.guid-rw.mobile-nhide{display:none;}
.frst-sale-bx-lft{width:100%;text-align:center;}
.frst-sale-bx-lft img{display:inline-block;}
.frst-sale-bx-rgt{width:91.4%;}
.hng{width:18%;margin-right:1%;}
.abt-get-txt{width:78%;}
.faq-emal{padding:0px 0px 35px 15px;margin-top:-20px;}
.faq-srch{width:100%;}
.faq-accord .panel{margin-bottom:17px;}
.contct-accord{width:96%;margin-left:15px;margin-top:-13px;margin-bottom:25px;}
.contct-left label.error{padding-top:9px;line-height:normal;}
@media only screen and (max-width:445px){.contct-right{float:left;padding-top:17px;}
}
@media only screen and (min-width:446px){.contct-left{max-width:69%;}
}
.prvc-tit h2{font-size:35px;}
.prvcy-txt h3,
.prvcy-txt .h3{font-size:20px;}
.blog-aside{padding-left:15px;}
.blog-main{width:100%;margin:40px 0px 0px 0px;}
.blog-lst-wrp{padding:0px;}
.blog-list-tit h2{font-size:27px;}
.blog-list-date p{font-size:16px;}
.blog-list-txt,
.blog-detail-txt{font-size:18px;}
.blog-lst-btn{margin-top:8px;}
.blog-lst-btn a{width:100%;padding:8px 0px;}
.discus-sec a{font-size:17px;}
.carer-bg{height:auto;min-height:275px;padding:62px 0px 20px 0px;background-position:top center;}
.carer-wrp{width:100%;}
.carr-tit{padding-left:10%;padding-right:10%;}
.carr-tit h3{font-size:22px;line-height:1.3;}
.carr-bx{width:100%;padding:0px 11%;margin-right:0px;margin-bottom:26px;line-height:1.5;}
.carr-bx img{height:auto;margin:auto;}
.prk-sec{padding-top:26px;}
.prk-rw{padding-bottom:0px;}
@media only screen and (max-width:474px){.prk-rw-bx{width:100%;padding:0px 26%;margin-right:0px;margin-bottom:22px;}
}
@media only screen and (min-width:475px) and (max-width:576px){.prk-rw-bx{width:50%;padding:0px 7% 15px 7%;margin-right:0px;}
.prk-rw-bx + .prk-rw-bx + .prk-rw-bx{clear:left;}
.prk-rw-bx + .prk-rw-bx + .prk-rw-bx + .prk-rw-bx{clear:none;}
}
.crr-wrp-2{width:80%;}
.op-lnk{width:100%;margin:9px 0px 0px;}
.car-det-wrp{width:100%;}
.crd-det-upr{padding-bottom:12px;}
.crd-det-upr h2{font-size:28px;}
.crd-det-midd{line-height:1.5;}
.jb-frmsec{width:100%;margin-left:0px;margin-right:0px;margin-top:25px;padding-left:22px;padding-right:23px;}
.jobfrm-up span{padding-left:11px;}
.jobfrm-md{padding-top:15px;}
.jobfrm-md-inr{width:100%;margin:0px;}
.jobfrm-md-inr-lft{width:100%;text-align:left;margin-right:0px;margin-bottom:7px;}
.jobfrm-md-inr-rgt{width:100%;margin-bottom:11px;}
.jobfrm-md-inr-rgt.right-carbtn .input-group-btn{padding-top:7px;}
.jobfrm-md-inr-rgt.right-carbtn .btn.btn-upload-input{float:left;}
.right-carbtn .btn-upload-input2{float:left;}
.lnk-prof{padding-bottom:15px;}
.jobfrm-lst .jobfrm-thrd-inr{text-align:center;margin-right:0px;}
.jobfrm-lst input[type=submit]{float:none;}
.jb-share-sec{width:100%;padding:0px 0px 20px 0px;margin:0px;text-align:center;}
.jb-share-sec .share-sec p{float:none;}
.jb-share-sec .shr-img{float:none;display:inline-block;}
.banfit-wrp{width:100%;}
.banfit-upr{width:100%;margin:0px;}
.banfit-upr-tit h2{font-size:32px;}
.banfit-upr-txt hr{margin-top:5px;margin-bottom:20px;}
.banfit-upr-txt{font-size:17px;}
.banfit-upr-txt span + hr{margin-top:20px;margin-bottom:0px;}
.banfit-low-bx{width:100%;margin-right:0px;margin-bottom:30px;}
.banfit-low-bx table{margin-bottom:22px;}
.banfit-low-bx.mrg-rgt-0{margin-bottom:0px;}
.plan-sec-inner{padding:31px 26px;}
.plan-free{width:100%;min-height:100px;margin-bottom:35px;}
.plan-free + .plan-free + .plan-free + .plan-free{margin-bottom:3px;}
.plan-free-hed,
.plan-free-bacs{height:158px;}
.plan-free-hed{background-image:none;background:#92c64e;background:-moz-linear-gradient(top, #92c64e 0%, #92c353 52%, #a0d15f 54%, #bae383 100%);background:-webkit-linear-gradient(top, #92c64e 0%,#92c353 52%,#a0d15f 54%,#bae383 100%);background:linear-gradient(to bottom, #92c64e 0%,#92c353 52%,#a0d15f 54%,#bae383 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#92c64e', endColorstr='#bae383',GradientType=0);}
.plan-free-bacs{background-image:none;background:#4fbca9;background:-moz-linear-gradient(top, #4fbca9 0%, #57c3b0 51%, #57c3b0 51%, #51bba9 52%, #64c5b4 100%);background:-webkit-linear-gradient(top, #4fbca9 0%,#57c3b0 51%,#57c3b0 51%,#51bba9 52%,#64c5b4 100%);background:linear-gradient(to bottom, #4fbca9 0%,#57c3b0 51%,#57c3b0 51%,#51bba9 52%,#64c5b4 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fbca9', endColorstr='#64c5b4',GradientType=0);}
.plan-free-pro{background-image:none;background:#64b5da;background:-moz-linear-gradient(top, #64b5da 0%, #66b2d4 52%, #69b9de 53%, #81c8e5 100%);background:-webkit-linear-gradient(top, #64b5da 0%,#66b2d4 52%,#69b9de 53%,#81c8e5 100%);background:linear-gradient(to bottom, #64b5da 0%,#66b2d4 52%,#69b9de 53%,#81c8e5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#64b5da', endColorstr='#81c8e5',GradientType=0);}
.plan-free-delx{background-image:none;background:#666666;background:-moz-linear-gradient(top, #666666 0%, #6b6b6b 52%, #6b6b6b 52%, #626262 53%, #8f8f8f 100%);background:-webkit-linear-gradient(top, #666666 0%,#6b6b6b 52%,#6b6b6b 52%,#626262 53%,#8f8f8f 100%);background:linear-gradient(to bottom, #666666 0%,#6b6b6b 52%,#6b6b6b 52%,#626262 53%,#8f8f8f 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#8f8f8f',GradientType=0);}
.plan-free-pro{height:158px;margin-top:0px;margin-bottom:0px;}
.plan-free-pro table{height:158px;}
.plan-free-pro table tr td{height:158px;}
.plan-free-feature.pad-tp-0{padding-top:16px!important;}
.plan-free-delx{height:161px;}
.plan-free-hed table tr td h3{font-size:39px;}
.plan-free-bacs table tr td h3{font-size:39px;}
.plan-free-pro table tr td h3{font-size:39px;}
.plan-free-delx table tr td h3{font-size:39px;}
.plan-free-hed table tr td{height:165px;}
.plan-free-feature{padding-top:20px;}
.transc-fee-sec{padding:17px 20px 0px 20px;}
.transc-fee-sec p{min-height:20px;}
.plan-lst{padding-bottom:35px;}
.plan-amount{min-height:20px;}
.evry-plan{margin-top:38px;}
.evry-plan-hed h5,
.evry-plan h5{padding-bottom:15px;}
.evry-plan ul li,
.evry-plan-hed ul li{width:90%;padding-bottom:15px;}
.seller-sec .container .auto-container .pad-lft-0{padding-left:15px!important;}
.my-account-right-table{overflow:scroll;}
.my-account-right-table table{width:882px;max-width:none;}
.accort-info{padding-left:12px;padding-right:12px;}
.accort-info-bx{width:100%;margin-right:0px;}
.accort-info-bx + .accort-info-bx{margin-top:23px;}
.accort-info-bx-tilt h5 + a{clear:both;float:left;margin-top:6px;margin-bottom:4px;}
.mst-vied-deal-lft{width:auto;}
.change-pas-dv{padding-left:12px;padding-right:12px;margin-top:-25px;}
#ipt-hid.change-pas-dv{padding-left:0px;padding-right:0px;margin-top:0px;}
.store-profile-row-lft{width:auto;padding-bottom:0px;}
.store-profile-row-rgt{clear:both;float:left;margin-left:0px;padding-bottom:0px;}
.store-profile-row-rgt input[type=text],
.store-profile-row-rgt input[type=password]{padding:7px 14px;}
.chng-paswrd input[type="checkbox"] + label p{max-width:86%;}
.sv-bck-sec{padding-top:0px;}
.sv-bck-sec .bck-btn{margin:38px 0px 0px;}
.shop-aside{width:100%;}
.show-itm{float:left;}
.cloths-bx{width:31%;margin-right:3%;margin-bottom:0px;}
.cloths-bx-hed{padding:7px 0px 7px;min-height:unset;}
.cloths-bx-lowr1 p{margin:0 0 5px;}
.cloths-row{margin-bottom:20px;}
.popup-4{width:420px;}
.shop-listing-col-xs-3{width:100%;}
.shop-listing-col-xs-9{width:100%;}
.cloths-bx-2-img{width:46%;margin-right:4%;}
.cloths-bx-hed2{min-height:unset;}
.cloths-bx-lowr4 a{float:right;margin-left:0px;}
.tb-sec{position:relative;width:auto;float:right;top:-5px;}
.show-itm{width:100%;float:left;}
.shp-mem-map{display:none;}
.loct-sec{padding-bottom:15px;}
.loading-gif-2{height:50%;}
.pad-lft-0{padding-left:15px !important;}
.cloths-bx-img-sec img{width:100%;max-height:400px;}
.cloths-bx-2-img img{width:100%;}
.cloths-bx-2-rgt{margin-left:0%;width:50%;}
.shop-right-third{padding:12px 0px 5px;margin:0px 0px 15px;}
.compare-bg{padding:40px 0px;}
a.com-btn{width:80px;padding:2px 0px;margin:8px 0px 0px 0px;font-size:15px;float:none;display:inline-block !important;}
a.clear-btn{font-size:15px;margin:4px 0px 0px 0px;float:none;display:inline-block !important;}
.compare-main-bx-rgt a{font-size:15px;}
.membr-crc-left{width:54%;padding:12px 0px 0px;}
.membr-snce{padding:75px 0px 0px 25px;}
.membr-snce-rw-left{width:50%;}
.membr-snce-rw-right{width:50%;margin-right:0%;}
.membr-share{margin-left:28%;width:190px;float:right;}
.membr-stry-btn{width:100%;}
.pls-itm{margin:0px 0px 28px 0px;}
.my-stry-upr-left{width:34%;}
.my-stry-upr-left-inr{width:146px;height:146px;}
.my-stry-upr-left-inr img{width:146px;height:146px;}
.my-stry-upr-mid{width:63.5%;margin:0px 0px 0px 2.5%;}
.my-stry-upr-botm{padding:8px 0px 0px;}
.my-stry-upr-right{width:100%;padding:0px 34px 13px 34px;text-align:center;}
.my-stry-upr-right a.folw-fb{width:180px;float:none;display:inline-block;}
.my-stry-upr-right a.folw-twt{width:180px;float:none;display:inline-block;}
.my-stry-upr-right a.folw-pin{width:180px;float:none;display:inline-block;}
.my-stry-upr-right a.folw-inst{width:180px;float:none;display:inline-block;}
.my-stry-upr{padding-bottom:0px;}
.my-stry-centr-left{width:100%;padding-top:5px;}
.my-stry-centr-right{width:100%;margin-left:0%;}
.elzbt-sec-left{width:100%;}
.elzbt-sec-right{width:100%;margin-left:0%;}
.elzbt-sec-right a{margin-bottom:0px;}
.chk-avalb-lft{width:62%;}
.chk-avalb-rgt{width:38%;}
.get-paid-sec-proces-paymnt input[type=text]{width:400px;}
.searchby-row label{width:auto;padding:5px 5px 5px 0px;}
.sselect-rp{width:21%;}
.stextbox-rp{width:39%;}
.store-profile-row-rgt{width:100%;}
.nw-nav-bx{padding:15px 0px;}
.cart-col-md-8{width:100%;}
.cart-col-md-4{width:91%;}
.hdr-new-rw .auto-container-hed2{width:100%;}
.boxgrey-rp{width:7.33333%;}
.auto-container-hed2{width:100%;}
.cart-tab-sec{overflow:auto;}
.cart-tab-sec table{width:600px;max-width:none;}
.frgt-pasd-wrp{width:100%;margin:268px 0%;}
.frgt-sec{padding:28px 60px 28px;}
.crt-bil-paypal-right img{width:150px;}
.prevw-list-row-lft2{width:80%;}
body .jFiler-input-dragDrop{width:64.39%;;}
body .jFiler-items{float:left;width:100%;height:auto;}
.org-prc input[type=text]{width:78.5%;}
.usd{width:18%;}
.popup-1 .modal-content{top:-80px;}
.popup-1{width:420px;}
.popup-3 .modal-content{top:-80px;}
.popup-3{width:420px;}
.compare-main{width:100%;margin:0px 0%;}
.compare-main-bx{width:30%;margin-right:10px;}
.compare-main-bx-rgt{width:54%}
.pad-25{padding-top:0px;width:100%;float:left;height:auto;text-align:center;}
.brand{margin-top:0px;}
.popup-2{width:80%;top:-80px;}
.popup-2 .modal-title{font-size:22px;}
.popup-2 .modal-header p{font-size:17px;}
.popup-2 .modal-body{padding:0px 0px 3px;}
.popup-2 .modal-body input[type=text], .popup-2 .modal-body input[type=password]{height:35px;margin-bottom:14px;}
.popup-2 .modal-body .optn-bx select{height:35px;margin-bottom:14px;}
.popup-2 .modal-body input[type=submit], .popup-2 .modal-body input[type=button]{width:100%;height:35px;}
#myModal4{padding-right:0px !important;}
.compare-popup{width:82%;margin:10%;}
.compare-popup .modal-content{padding:18px 20px;}
.compare-popup .modal-header{padding:10px 0px 20px 0px;}
.compare-popup .modal-header h4{font-size:14px;}
.compare-popup .modal-body{padding-bottom:25px;}
.compare-popup .compre-pop-rw{width:100%;margin:0px 0%;}
.compre-pop-bx-right a{font-size:14px;}
.addressSec-col{width:100%;}
.addressSec-col + .addressSec-col{float:left;width:100%;}
.td-sale-bx-lft{width:auto;}
.td-sale-bx-lft h6{font-size:25px;}
.td-sale-bx-rgt img{width:53px;}
.sel-dashbrd-frst .panel-body{padding:25px 10px;width:100%;height:auto;float:left;border-top:none;}
.msg-sectbl{overflow:auto;}
.msg-sectbl table{width:100px;max-width:none;}
.upr-logn ul li.large-view{display:none;}
.mobile-view{display:block;border-left:none;border-right:none;}
.pend-shp-ord a{margin-bottom:10px;}
.bf-rleft{width:100%;}
.bf-rright{width:82%;}
.base-txtbox{width:100%;}
.bf-btnright .base-tbtn{float:left;}
.mobile-view-seller{display:block;}
.large-view-seller{display:none;}
.add-prd-btn{width:100%;float:left;margin-top:5px;}
.store-logo h6{width:100%;}
.popup-2 .modal-content{padding:28px 20px 14px 20px;}
.membr-stry-btn a.favrt-btn{font-size:15px;}
.show-itm h5{margin:6px 8px 0px 0px;font-size:13px;}
.show-itm h6{margin:6px 4px 0px 0px;}
.my-stry-mid-tp h6{clear:left;}
.msgreply-row label{width:100%;}
.msgreply-txtarea{width:100%;}
.msgreply-tbl{overflow:auto;}
.msgreply-tbl table{width:650px;max-width:none;}
.my-account-right-table .table{table-layout:auto;}
.pendshp-tb .my-account-right-table .table{width:900px;max-width:none;}
.mang-search-opt select{width:120px;}
.search-product{width:50%;margin-left:8px;}
.search-product input[type=text]{width:100%;margin:0px 0px 10px 0px;}
.search-product input[type=submit]{float:right;}
.my-account-right-2 .well a{float:right!important;}
.shipbil-lcol{width:100%;}
.banything-lbl{width:30%;}
.banything-dtl{width:70%;}
.myfan-img{width:14%;}
.myfan-right{float:left;width:81%;height:auto;margin-left:10px;}
.myfan-suny .odrList-wrap .myfan-rtoptxt.sec01{width:100%;margin-bottom:15px;}
.myfan-suny .odrList-wrap .myfan-rtoptxt.sec02{width:100%;text-align:left;margin-bottom:15px;}
.shipbil-rcol.sec03{width:100%;}
.fan-con{width:100%;float:left;}
.uty-wishlist-1{width:100%;}
.unique-itm-main-row-bx h5{font-size:14px;}
.shipbil-rcol{float:left;width:100%;}
.ordrs-left{width:25%;}
.ordrs-right{width:71%;}
.best-descb-rgt-row input[type="radio"] + label p{max-width:92%;}
.atleadst-one-catrg-bx{width:100%;margin-bottom:10px;}
.unique-itm-main-row-bx{width:100%;}
.prices-profir-sec-bx{padding:12px 0px 12px;}
.chrg-fr-ship-rd{width:5.5%;}
.chrg-fr-ship-txt{width:90.5%;}
.btm-tsubrow2 .stextbox-rp{width:100%;}
.banything-row{padding:0px 0px 10px 0px;}
.inany-wrapper{margin-bottom:10px;}
.shipbil-vrow{padding:0px 0px 0px 0px;}
.sm-drop{width:362px;}
.crt-shp-addr-frm-inr{width:100%;padding-bottom:16px;}
.crt-shp-addr-frm-inr:last-child{padding-bottom:0px;}
.cart-right-main{width:90%;}
.crt-bil-paypal-right{width:100%;float:left;text-align:left;margin-top:15px;}
.crt-order-secnd-left{width:100%;margin-right:0%;}
.uty-cart-1{width:94.555% !important;}
.uty-cart-payment-1{width:100% !important;}
.crt-bil-paypal-lft{width:100%;}
.compre-detal-tbl{overflow:auto;}
.compre-detal-tbl table{width:900px;max-width:none;}
input[type=file]{}
.use-diff-billng-addr-bx{width:100%;padding-bottom:16px;}
.use-diff-billng-addr-bx:last-child{padding-bottom:0px;}
.store-profile-row .upld-btn{margin-bottom:10px;margin-top:15px;}
.uty-add-addr-1{margin-top:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px){.cloths-bx-img-sec img{max-height:none;}
.cloths-bx{width:100%;margin-right:0%;margin-bottom:15px;}
.cloths-bx-img-sec{width:40%;margin-right:4%;}
.cloths-bx-hed{width:56%;float:right;}
.cloths-bx-lowr1{width:56%;float:right;}
.cloths-bx-lowr2{width:56%;float:right;}
.cloths-row{margin-bottom:0px;}
.cloths-bx-2-img{width:40%;margin-right:4%;}
.cloths-bx-2-rgt{width:56%;}
.cloths-bx-2{margin-bottom:20px;}
.compare-main-bx-rgt a{font-size:14px;}
a.clear-btn{font-size:15px;margin:5px 27px 0px 0px;}
.membr-crc-left{width:40%;padding:18px 0px 0px;}
.membr-crc-left h4{font-size:20px;}
.membr-cty{font-size:14px;padding:0px 0px 0px 16px;margin-right:0px;}
.membr-snce{padding:70px 0px 0px 0px;}
.membr-snce-rw-left{width:100%;}
.membr-snce-rw-right{width:100%;}
.membr-share{margin-left:0%;width:100%;float:left;margin-top:10px;}
.membr-stry-btn{width:100%;float:left;}
.membr-stry-btn a.styr-btn{float:left;margin-right:17%;}
.membr-stry-btn a.favrt-btn{float:left;}
.membr-snce-rw-right{margin-top:20px;}
.my-stry-upr-mid{width:97.5%;margin:0px 0px 0px 0%;}
.fgt-tit{width:200px;float:none;margin:auto;}
.frgt-sec.oneline p{width:100%;}
.nbtn-srow{float:left;width:100%;height:auto;padding:10px 0px 0px 0px;text-align:center;}
.btn-left{float:none;width:100%;height:auto;}
.btn-right{float:none;width:100%;height:auto;}
.nbtn-pop{float:none;display:inline-block;margin-top:10px;}
.chk-avalb-lft{width:49%;}
.chk-avalb .chk-avalb-lft input[type=text]{font-size:14px;padding:0px 20% 0px 10px;}
.chk-avalb-rgt{width:51%;}
.chk-avalb .chk-avalb-rgt input[type=submit]{font-size:14px;}
.get-paid-sec-proces-paymnt input[type=text]{width:100%;}
.best-descb-lft{width:100%;padding-top:0px;padding-bottom:10px;}
.best-descb-rgt{width:100%;}
.msg-secbtm-rp{padding:0px 0px 20px 0px;}
.msg-sectbl{overflow:scroll;}
.sselect-rp{width:100%;padding:0px 0px 15px 0px;}
.sselect-rp select{width:153px;}
.stextbox-rp{width:153px;padding:0px 0px 10px 0px;margin-right:11px;}
.stextbox-rp input{width:100%;}
.search-product input[type=text]{width:231px;margin:0px 8px 15px 0px;}
.search-product input[type=submit]{clear:left;}
.store-logo{width:100%;}
.store-banner{width:100%;}
.store-profile-row-rgt h6{width:100%;}
.popup-3{width:82%;}
.frgt-sec{padding:28px 50px 28px;}
.fgt-tit{width:100%;}
.popup-1{width:82%;}
.prices-sec-right{width:100%;float:left;}
.prices-profir-sec{margin-left:0%;}
.prices-profir-sec-bx{margin-top:0px;}
.unique-itm-main-row-bx{width:43.5%;}
.prices-sec-left{width:100%;}
.popup-1 .modal-title{font-size:22px;}
.popup-1 .pp-fr-mg{padding:5px 0px 20px;}
.pop-bdr{margin-bottom:8px;}
.popup-1 .modal-body input[type=text], .popup-1 .modal-body input[type=password]{height:35px;}
.popup-1 .modal-body input[type=submit], .popup-1 .modal-body input[type=button]{margin:0px 0px 0px;height:34px;width:100%;}
.popup-1 .modal-footer{padding:12px 0px 0px 0px;}
.popup-1 .modal-content{padding:21px 40px 8px 40px;}
.popup-3 .modal-title{font-size:22px;}
.popup-3 .pp-fr-mg{padding:5px 0px 20px;}
.popup-3 .modal-body input[type=text], .popup-1 .modal-body input[type=password]{height:35px;}
.popup-3 .modal-body input[type=password]{height:35px;}
a.frg-pas-2{top:7px;}
.popup-3 .modal-body .nvrmnd input.nvrmnd, .popup-3 .modal-body input.nvrmnd{width:100%;height:34px;}
.popup-3 .modal-body input[type=submit], .popup-3 .modal-body input[type=button]{width:100%;height:34px;}
.popup-3 .modal-content{padding:21px 40px 8px 40px;}
.compare-main-bx{width:29%;}
.compare-main-bx-lft{width:100%;}
.compare-main-bx-rgt{display:none;}
.popup-4{width:83%;}
#myModalcompare{padding-right:0px !important;}
.compare-popup{width:70%;margin:15%;}
.compare-popup .modal-content{padding:18px 20px;}
.compare-popup .modal-header{padding:10px 0px 20px 0px;}
.compare-popup .modal-body{padding-bottom:20px;}
.compare-popup .compre-pop-rw{width:100%;margin:0px 0%;}
.compare-popup .compre-pop-rw .compre-pop-bx{width:30%;}
.compre-pop-bx-img{width:100%;}
.compre-pop-bx-right{display:none;}
.compare-popup .modal-footer{padding:15px 0px 0px;}
.sel-dashbrd-frst .panel-body{padding:10px 0px;}
.prof-bx{width:100%;border-right:none!important;border-bottom:1px solid #cccccc;}
.prof-bx h5{font-size:28px;margin:5px 0px 5px;}
.brd-right-0{border-bottom:none!important;}
.msg-hd-inrow h5{width:auto;}
.del-btnright{float:left;}
.watchvideo{margin-left:0px;width:100%;margin-top:10px;}
.get-paid-sec-hed a{float:left;width:100%;height:auto;}
.msg-hd-inrow.uty-message-1 h5{width:100%;margin:4px 0px 0px;}
.mang-search-opt select{width:153px;}
.search-product{width:100%;margin-left:0px;}
.search-product input[type=text]{width:223px;margin:0px 8px 10px 8px;}
.search-product input[type=submit]{float:left;}
.my-account-right-2 .well a{float:left!important;}
.banything-lbl{width:100%;}
.banything-dtl{width:100%;}
.inany-lbl{width:38%;}
.inany-dtl{width:62%;}
.myfan-img{width:100%;}
.myfan-img img{float:left;}
.myfan-right{width:100%;margin-left:0px;}
.shop-det-rgt-lowr-4{margin-top:8px;}body .jFiler-input-dragDrop{width:80.39%;}
.prevw-list-row-lft{width:100%;margin-right:0%;margin-bottom:10px;}
.prevw-list-row-lft2{width:100%;}
.unique-itm-main-row-bx{width:100%;}
.td-sale-bx{width:76%;margin:0px 0px 15px 11%;}
.sel-dashbrd-frst .panel-heading h3{margin:0px 0px 5px 0px;width:100%;}
.sel-dashbrd-frst .panel-heading p{float:left;}
.td-sale-bx-lft{width:auto;}
.pdvw-bx{width:100%;border-right:none!important;border-bottom:1px solid #cccccc;}
.ordrs-left{width:100%;}
.ordrs-right{width:100%;margin-left:0%;}
.ordrs-right canvas{display:inline-block;height:auto;width:100%;}
.inpt-sh select{width:100%;}
.inpt-sh input[type=text]{width:100%;}
.atleadst-one-catrg-bx{width:100%;margin-bottom:10px;}
.catrg-bx-row-clr input[type="checkbox"] + label p{max-width:86%;}
.btm-tsubrow2 .stextbox-rp{width:100%;}
.banything-row{padding:0px 0px 10px 0px;}
.inany-wrapper{margin-bottom:10px;}
.shipbil-vrow{padding:0px 0px 0px 0px;}
.sm-drop{width:225px;}
.shipd-row label{width:100%;}
.sdb-lbl{width:100%;}
.sdb-radio{width:15.5%;}
.sdb-rtxt{width:84%;}
.btm-fcol{width:100%;border-left:none !important;border-bottom:1px solid #cccccc;}
.btm-fcol:last-child{border-bottom:none!important;}
.bf-rright{width:100%;}
.cart-right-main{width:92%;margin-left:3px;}
.crt-order-frst-bx2{width:100%;float:left;}
.crt-order-frst-bx{width:25%;margin-right:0%;margin-bottom:15px;}
.crt-order-frst-bx2-rw-left{width:39%;}
.crt-order-frst-bx2-rw-right{width:52%;}
.uty-cart-1{width:95.555% !important;}
.uty-cart-payment-1{width:100% !important;}
}
@media only screen and (max-width:441px){.memb-crc-img{width:156px;height:195px;padding-top:38px;}
.memb-crc-img img{width:156px;height:156px;}
.membr-crc-left{width:40%;padding:0px 0px 0px;}
.membr-crc-left h4{font-size:20px;}
.membr-cty{font-size:14px;padding:0px 0px 0px 16px;margin-right:0px;}
.membr-stry-btn{width:100%;}
.membr-share{width:100%;}
.membr-stry-btn a.styr-btn{float:left;}
.my-account-right-2 .well a{float:left;}
.my-account-right-2 .well h4{float:left;width:100%;}
.fgt-btn a{width:100%;float:left;}
.fgt-tit .fgt-btn .frg-rgt{float:left;margin-top:12px;}
.addressSec-col .inany-lbl{width:50%;}
.addressSec-col .inany-dtl{width:50%;}
.fgt-tit .fgt-btn .frg-lft{width:182px;}
}