@charset "utf-8";@media only screen and (min-width:577px) and (max-width:767px){.auto-container{width:96%;}
.upr-logn ul li{padding-right:17px;}
.upr-crt{padding-left:17px;}
.auto-container-hed{width:96%;}
.search-sec{width:97%;margin:10px 0px 0px 1.5%;}
.navbar-toggle{position:absolute;right:0;bottom:48px;margin-right:6px;}
.navbar-collapse{position:absolute;width:100%;z-index:10;background-color:#FFF;padding-left:0px;top:97px;}
.navbar-nav{margin-left:0px;margin-right:0px;padding-top:8px;padding-bottom:9px;}
.nav>li{padding:4px 0px;}
.nav>li.mrg-rgt{margin-right:0px;}
.nav>li>a{margin-left:12px;}
.nav li.shop-nav{margin-left:12px;}
.nav li.shop-nav a.dropdown-toggle{padding-bottom:0px;}
.bx-wrapper .bx-controls-direction a{width:30px!important;height:30px!important;background-size:cover;}
.bx-wrapper .bx-prev{left:12px!important;}
.bx-wrapper .bx-next{right:12px!important;}
.wdth-50{width:91%;top:auto;bottom:10px;}
.wdth-50 p{font-size:27px !important;}
.wdth-50 ul li a{font-size:18px;}
.bnr-sec{float:right;width:auto;}
.bnr-sec a.bnr-fb{width:36px;height:36px;background-color:#4a6bb2;background-position:0px -2px;}
.bnr-sec a.bnr-eml{width:36px;height:36px;background-color:#55a32a;background-position:-11px -2px;}
.catgr-sec{padding:27px 0px 23px 0px;}
a.accr-bt{width:94%;margin-left:3%;margin-right:3%;font-size:16px;line-height:1.25;text-align:center;}
.slick-slide img{margin-bottom:10px;}
.hm-sel-sec{padding:32px 0px 25px 0px;}
.featrd-bx{width:48%;margin-left:1%;margin-right:1%;text-align:center;padding-bottom:12px;}
.featrd-bx.mrg-rgt-0{margin-right:1%;}
.featrd-bx a{padding:4px 3px 0px 3px;margin-bottom:5px;}
.featrd-bx img{display:inline-block;margin-bottom:9px;}
.featrd-bx a span{display:block;}
.srch-itm-ar{width:100%;margin:0px;padding:0px 7% 30px 7%;}
.itm-ar-tit{padding-top:0px;}
.itm-ar-tit h5{margin-top:5px;}
#map-container{width:100%!important;}
#map{height:350px!important;}
.stp-bx-1{width:100%;margin:0px;padding:10px 15% 19px 15%;}
.stp-1{padding:0px 15%;}
.stp-bx-2{display:none;}
.only-for-lft{width:50%;padding:0px;margin:0px;}
.only-for-lft ul li span{width:100%;margin-right:0;text-align:center;margin-bottom:15px;}
.newtag-line{font-size:18px;padding:0px 16px;}
.only-for-lft ul li{font-size:18px;}
.only-for-lft ul li table{width:80%;height:auto;margin:0px 10%;text-align:center;}
.only-for-lft ul li table tr td{height:auto;}
.footr-wrp{width:100%;}
.hm-srch-fld{width:70%;margin:0px 15%;}
.hm-nws{text-align:center;}
.hm-nws h4{margin-top:7px;}
.footr-wrp-2{width:100%;}
.ftr-comp-tit.emptyhdr{display:none;}
.fotr-lnk-1.pad-tp-ft{padding-top:0px;margin-top:-8px;}
.col-md-3.connectSec{padding-right:15px!important;padding-left:15px!important;}
.fot-cpy{padding-top:0px;text-align:center;}
.fot-selct{float:none;width:157px;margin:14px auto 0px;}
.whted-bg{height:auto;min-height:287px;padding:62px 0px 20px 0px;background-position:top center;}
.brd-sec .breadcrumb li{font-size:16px;}
.brd-whit h2{font-size:53px;word-break:break-word;}
.weht-main{padding-top:30px;}
.side-nav{padding-left:15px;padding-bottom:18px;}
.whted-rgt-sec{width:98%;margin-left:0px;}
.guid-rw.mobile-nhide{display:none;}
.faq-emal{padding:0px 0px 35px 15px;margin-top:-20px;}
.faq-srch{width:100%;}
.faq-accord .panel{margin-bottom:15px;}
.contct-accord{width:96%;margin-left:15px;margin-top:-13px;margin-bottom:25px;}
.contct-left label.error{padding-top:9px;line-height:normal;}
.prvc-tit h2{font-size:38px;}
.prvcy-txt h3,
.prvcy-txt .h3{font-size:20px;}
.blog-aside{padding-left:15px;}
.blog-main{width:100%;margin:40px 0px 0px 0px;}
.blog-list-tit h2{font-size:32px;}
.blog-list-date p{font-size:17px;}
.blog-list-txt,
.blog-detail-txt{font-size:19px;}
.blog-lst-btn{margin-top:8px;}
.blog-lst-btn a{width:100%;padding:9px 0px;}
.discus-sec a{font-size:17px;}
.carer-bg{height:auto;min-height:275px;padding:62px 0px 20px 0px;background-position:top center;}
.carer-wrp{width:100%;}
.carr-tit{padding-left:10%;padding-right:10%;}
.carr-tit h3{font-size:22px;line-height:1.3;}
.carr-bx{margin-right:2.7%;margin-left:2.7%;}
.carr-bx img{height:auto;margin:auto;}
.prk-rw{padding-bottom:0px;}
.prk-rw-bx{width:50%;padding:0px 7% 15px 7%;margin-right:0px;}
.prk-rw-bx + .prk-rw-bx + .prk-rw-bx{clear:left;}
.prk-rw-bx + .prk-rw-bx + .prk-rw-bx + .prk-rw-bx{clear:none;}
.crr-wrp-2{width:80%;}
.car-det-wrp{width:100%;}
.crd-det-midd{line-height:1.5;}
.jb-frmsec{width:86%;margin-left:7%;margin-right:7%;}
.jobfrm-up span{padding-left:12px;}
.jobfrm-md-inr{width:98%;margin:0px 1%;}
.banfit-wrp{width:100%;}
.banfit-upr{width:100%;margin:0px;}
.banfit-upr-tit h2{font-size:41px;}
.banfit-upr-txt{font-size:19px;}
.banfit-upr-txt span + hr{margin-bottom:0px;}
.banfit-low-bx{width:183px;margin-bottom:30px;margin-right:30px;}
.banfit-low-bx table{margin-bottom:22px;}
.banfit-low-bx.mrg-rgt-0{margin-bottom:0px;}
.plan-free{width:50%;min-height:100px;margin-bottom:35px;}
.plan-free + .plan-free + .plan-free + .plan-free{margin-bottom:3px;}
.plan-free-hed,
.plan-free-bacs{height:158px;}
.plan-free-hed{background-image:none;background:#92c64e;background:-moz-linear-gradient(top, #92c64e 0%, #92c353 52%, #a0d15f 54%, #bae383 100%);background:-webkit-linear-gradient(top, #92c64e 0%,#92c353 52%,#a0d15f 54%,#bae383 100%);background:linear-gradient(to bottom, #92c64e 0%,#92c353 52%,#a0d15f 54%,#bae383 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#92c64e', endColorstr='#bae383',GradientType=0);}
.plan-free-bacs{background-image:none;background:#4fbca9;background:-moz-linear-gradient(top, #4fbca9 0%, #57c3b0 51%, #57c3b0 51%, #51bba9 52%, #64c5b4 100%);background:-webkit-linear-gradient(top, #4fbca9 0%,#57c3b0 51%,#57c3b0 51%,#51bba9 52%,#64c5b4 100%);background:linear-gradient(to bottom, #4fbca9 0%,#57c3b0 51%,#57c3b0 51%,#51bba9 52%,#64c5b4 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fbca9', endColorstr='#64c5b4',GradientType=0);}
.plan-free-pro{background-image:none;background:#64b5da;background:-moz-linear-gradient(top, #64b5da 0%, #66b2d4 52%, #69b9de 53%, #81c8e5 100%);background:-webkit-linear-gradient(top, #64b5da 0%,#66b2d4 52%,#69b9de 53%,#81c8e5 100%);background:linear-gradient(to bottom, #64b5da 0%,#66b2d4 52%,#69b9de 53%,#81c8e5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#64b5da', endColorstr='#81c8e5',GradientType=0);}
.plan-free-delx{background-image:none;background:#666666;background:-moz-linear-gradient(top, #666666 0%, #6b6b6b 52%, #6b6b6b 52%, #626262 53%, #8f8f8f 100%);background:-webkit-linear-gradient(top, #666666 0%,#6b6b6b 52%,#6b6b6b 52%,#626262 53%,#8f8f8f 100%);background:linear-gradient(to bottom, #666666 0%,#6b6b6b 52%,#6b6b6b 52%,#626262 53%,#8f8f8f 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#8f8f8f',GradientType=0);}
.plan-free-pro{height:158px;margin-top:0px;margin-bottom:0px;}
.plan-free-pro table{height:158px;}
.plan-free-pro table tr td{height:158px;}
.plan-free-feature.pad-tp-0{padding-top:16px!important;}
.plan-free-delx,
.plan-free-delx table,
.plan-free-delx table tr td{height:158px;}
.plan-free-hed table tr td h3{font-size:39px;}
.plan-free-bacs table tr td h3{font-size:39px;}
.plan-free-pro table tr td h3{font-size:39px;}
.plan-free-delx table tr td h3{font-size:39px;}
.plan-free-hed table tr td{height:165px;}
.plan-free-feature{padding-top:16px;}
.transc-fee-sec{padding:17px 20px 0px 20px;}
.transc-fee-sec p{min-height:20px;}
.plan-lst{padding-bottom:35px;}
.plan-free .plan-lst{padding-top:66px;}
.plan-free.border-lft .plan-lst{padding-top:0px;}
.plan-amount{min-height:20px;}
.evry-plan{margin-top:38px;}
.evry-plan-hed h5,
.evry-plan h5{padding-bottom:15px;}
.evry-plan ul li,
.evry-plan-hed ul li{width:90%;padding-bottom:15px;}
.seller-sec .container .auto-container .pad-lft-0{padding-left:15px!important;}
.my-account-right-table{overflow:scroll;}
.my-account-right-table table{width:863px;max-width:none;}
.accort-info{padding-left:12px;padding-right:12px;}
.accort-info-bx-tilt h5 + a{clear:both;float:left;margin-top:6px;margin-bottom:4px;}
.mst-vied-deal-lft{width:auto;}
.change-pas-dv{padding-left:12px;padding-right:12px;}
.store-profile-row-lft{width:33%;}
.store-profile-row-rgt{width:64%;}
.store-profile-row .upld-btn{float:right;}
.sv-bck-sec .bck-btn{margin-top:16px;}
.store-profile-row .sv-bck-sec .upld-btn{float:left;}
.col-xs-3{width:100%;}
.pad-lft-0{padding-left:15px !important;}
.shop-aside{width:100%;margin-right:0%;}
.shp-mem-map{display:none;}
.loct-sec{padding-bottom:15px;}
.col-xs-9{width:100%;}
.tb-sec{position:relative;}
.shop-right-third{padding:12px 0px 5px;margin:0px 0px 15px;}
.compare-bg{padding:40px 0px;}
.compare-main{width:100%;margin:0px 0%;}
a.com-btn{width:80px;padding:2px 0px;margin:8px 0px 0px 0px;font-size:15px;float:none;display:inline-block !important;}
a.clear-btn{font-size:15px;margin:5px 0px 0px 0px;float:none;display:inline-block !important;}
.compare-main-bx-rgt a{font-size:15px;}
.membr-crc-left{width:62%;padding:14px 0px 0px;}
.membr-snce{padding:90px 0px 0px 25px;}
.membr-snce-rw-left{width:50%;}
.membr-snce-rw-right{width:50%;margin-right:0%;}
.membr-share{margin-left:28%;width:190px;float:right;}
.membr-stry-btn{width:100%;}
.tb-sec.tb-sec-store-syntax{top:-5px;}
.my-stry-upr-left{width:28%;}
.my-stry-upr-left-inr{width:146px;height:146px;}
.my-stry-upr-left-inr img{width:146px;height:146px;}
.my-stry-upr-mid{width:69.5%;margin:0px 0px 0px 2.5%;}
.my-stry-upr-botm{padding:5px 0px 0px;}
.my-stry-upr-right{width:100%;padding:13px 80px;text-align:center;}
.my-stry-upr-right a.folw-fb{width:180px;float:none;display:inline-block;}
.my-stry-upr-right a.folw-twt{width:180px;float:none;display:inline-block;}
.my-stry-upr-right a.folw-pin{width:180px;float:none;display:inline-block;}
.my-stry-upr-right a.folw-inst{width:180px;float:none;display:inline-block;}
.my-stry-upr{padding-bottom:0px;}
.elzbt-sec-left{width:100%;}
.elzbt-sec-right{width:100%;margin-left:0%;}
.elzbt-sec-right a{margin-bottom:0px;}
.chk-avalb-lft{width:69%;}
.chk-avalb-rgt{width:31%;}
.get-paid-sec-proces-paymnt input[type=text]{width:500px;}
.stextbox-rp{width:180px;}
.store-logo{width:100%;}
.store-banner{width:100%;}
.store-profile-row-rgt h6{width:100%;}
.cart-col-md-8{width:100%;}
.cart-col-md-4{width:100%;}
.hdr-new-rw .auto-container-hed2{width:100%;}
.boxgrey-rp{width:34px;}
.auto-container-hed2{width:100%;}
.cart-tab-sec{overflow:auto;}
.cart-tab-sec table{width:600px;max-width:none;}
.frgt-pasd-wrp{width:400px;margin:268px 19.5%;}
.compare-popup{width:90%;margin:6%;}
.prevw-list-row-lft2{width:500px;}
.org-prc input[type=text]{width:81.5%;}
.usd{width:15%;}
.popup-1 .modal-content{top:-80px;}
@media only screen and (max-width:650px){.brand{margin-top:0px;}
.navbar-collapse{top:111px;}
}
.compare-main-bx{width:31%;margin-right:10px;}
.pad-25{padding-top:0px;text-align:center;width:100%;height:auto;float:left;}
.popup-2{top:-80px;}
.addressSec-col{width:100%;}
.addressSec-col + .addressSec-col{float:left;width:100%;}
.msg-sectbl{overflow:auto;}
.msg-sectbl table{width:100px;max-width:none;}
.pend-shp-ord a{margin-bottom:10px;}
.mobile-view-seller{display:block;}
.large-view-seller{display:none;}
.add-prd-btn{width:100%;float:left;margin-top:5px;}
.store-logo h6{width:100%;}
.membr-stry-btn a.favrt-btn{font-size:15px;}
.show-itm h5{margin:6px 8px 0px 0px;font-size:13px;}
.show-itm h6{margin:6px 4px 0px 0px;}
.my-stry-mid-tp h6{clear:left;}
.msgreply-tbl{overflow:auto;}
.msgreply-tbl table{max-width:none;width:650px;}
.pendshp-tb .my-account-right-table .table{width:900px;max-width:none;}
.mang-search-opt select{width:80px;}
.search-product{width:68%;}
.search-product input[type=text]{width:40%;}
.inany-lbl{width:38%;}
.inany-dtl{width:62%;}
.myfan-img{width:100%;}
.myfan-right{width:100%;}
.myfan-suny .odrList-wrap .myfan-rtoptxt.sec02{width:22%;}
.shipbil-rcol.sec03{width:43%;}
.unique-itm-main-row-bx h5{font-size:14px;}
.shipbil-rcol{float:left;width:100%;}
.td-sale-bx-rgt img{width:68px;}
.ordrs-left{width:21%;}
.ordrs-right{width:75%;}
.unique-itm-main-row-bx{width:100%;}
.catrg-bx-row-clr input[type="checkbox"] + label p{max-width:86%;}
.cart-right-main{margin-left:0%;width:95.4444%;}
.cart-right-lowr2{width:50%;float:none;margin:auto;padding-bottom:10px;}
.cart-right-lowr2 a.prcd-btn{margin-bottom:15px;}
.cart-right-main .boxgrey-rp{width:4.7777%;}
.compre-detal-tbl{overflow:auto;}
.compre-detal-tbl table{width:900px;max-width:none;}
}