@charset "utf-8";@media only screen and (min-width:768px) and (max-width:991px){.auto-container{width:96%;}
.footr-wrp{width:100%;}
.footr-wrp-2{width:100%;}
.auto-container-hed{width:100%;}
.nav>li>a{margin-left:23px;}
.nav li.shop-nav{margin-left:22px;}
.nw-nav-bx{left:17%;}
.search-sec{margin-left:31.5%;}
.wdth-50{top:auto;bottom:27px;}
.wdth-50 p{font-size:38px !important;}
.bnr-sec a.bnr-fb{width:200px;height:32px;background-size:cover;}
.bnr-sec a.bnr-eml{width:182px;height:32px;background-size:cover;}
#map-container{width:100%!important;margin-top:45px;}
#map{height:329px!important;}
.only-for-lft ul li span{width:80px;}
.only-for-lft ul li table{width:69%;}
.hm-srch-fld{width:100%;}
.col-md-3.connectSec{padding-right:15px!important;padding-left:15px!important;}
.whted-bg{background-position:top center;}
.brd-whit h2{font-size:48px;word-break:break-word;}
.side-nav{width:104%;}
.side-nav ul li a{font-size:17px;}
.whted-rgt-bx-rgt{padding:12px 0px 0px;}
.guid-rw.mobile-nhide{display:none;}
.hng{width:15%;}
.abt-get-txt{width:82%;}
.faq-srch{width:80%;}
.faq-accord .panel{margin-bottom:12px;}
.blog-aside{padding-left:15px;}
.blog-main{width:100%;}
.blog-lst-wrp{padding:0px;}
.blog-list-tit h2{font-size:30px;}
.blog-list-date p{font-size:17px;}
.blog-list-txt,
.blog-detail-txt{font-size:18px;}
.blog-lst-btn{margin-top:6px;}
.blog-lst-btn a{width:71%;}
.blog-list-inner{padding-left:2%;padding-right:2%;}
.discus-sec a{font-size:18px;}
.carer-bg{height:auto;min-height:275px;padding:62px 0px 20px 0px;background-position:top center;}
.carer-wrp{width:100%;}
.carr-tit{padding-left:10%;padding-right:10%;}
.carr-tit h3{font-size:27px;line-height:1.3;}
.carr-bx{margin-right:2.7%;margin-left:2.7%;}
.carr-bx img{height:auto;margin:auto;}
.prk-sec{padding-top:30px;}
.crr-wrp-2{width:80%;}
.car-det-wrp{width:100%;}
.crd-det-midd{line-height:1.5;}
.jobfrm-md-inr{width:97%;margin:0 1.5%;}
.banfit-wrp{width:100%;}
.banfit-upr-tit h2{font-size:44px;margin:0px;}
.banfit-upr-txt{font-size:20px;}
.banfit-low-bx table{margin-bottom:22px;}
.banfit-low-bx.mrg-rgt-0{margin-bottom:0px;}
.plan-free{width:50%;min-height:100px;margin-bottom:35px;}
.plan-free + .plan-free + .plan-free + .plan-free{margin-bottom:3px;}
.plan-free-hed,
.plan-free-bacs{height:158px;background-size:cover;}
.plan-free-pro{height:158px;margin-top:0px;margin-bottom:0px;background-size:cover;}
.plan-free-pro table{height:158px;}
.plan-free-pro table tr td{height:158px;}
.plan-free-feature.pad-tp-0{padding-top:16px!important;}
.plan-free-delx{background-size:cover;}
.plan-free-delx,
.plan-free-delx table,
.plan-free-delx table tr td{height:158px;}
.plan-free-hed table tr td h3{font-size:39px;}
.plan-free-bacs table tr td h3{font-size:39px;}
.plan-free-pro table tr td h3{font-size:39px;}
.plan-free-delx table tr td h3{font-size:39px;}
.plan-free-hed table tr td{height:165px;}
.plan-free-feature{padding-top:16px;}
.transc-fee-sec{padding:17px 20px 0px 20px;}
.transc-fee-sec p{min-height:20px;}
.plan-lst{padding-bottom:35px;}
.plan-free .plan-lst{padding-top:66px;}
.plan-free.border-lft .plan-lst{padding-top:0px;}
.plan-amount{min-height:20px;}
.my-account-left h2{font-size:29px;font-size:3.2vw;}
.my-account-right-table{overflow:scroll;}
.my-account-right-table table{width:800px;max-width:none;}
.accort-info-bx-tilt h5 + a{clear:both;float:left;margin-top:6px;margin-bottom:4px;}
.tp-sellng-del{width:100%;margin-right:0px;}
.mst-vied-deal-lft{width:auto;}
.mst-vied-deal-rgt{margin-left:6%;width:63%;}
.store-profile-row-lft{width:27%;}
.store-profile-row-rgt{width:70%;}
.store-profile-row .upld-btn{float:right;}
.sv-bck-sec .bck-btn{margin-top:16px;}
.store-profile-row .sv-bck-sec .upld-btn{float:left;}
.col-sm-3{width:35%;}
.col-sm-9{width:65%;}
.compare-bg{padding:40px 0px;}
.compare-main{width:100%;margin:0px 2%;}
.compare-main-bx{width:31%;margin-right:10px;}
.pad-25{padding-top:0px;text-align:center;width:100%;height:auto;float:left;}
a.com-btn{width:90px;padding:5px 0px;margin:15px 0px 0px 0px;float:none;display:inline-block !important;}
a.clear-btn{font-size:16px;margin:5px 0px 0px 0px;float:none;display:inline-block !important;}
.store-syntax-top{margin-left:24.666667%;width:76.333333%;}
.membr-snce-rw-left{width:50%;}
.membr-snce-rw-right{width:50%;margin-right:0%;}
.membr-share{margin-left:27%;}
.membr-share{width:79%;}
.membr-stry-btn{width:100%;}
.my-stry-upr-left{width:21%;}
.my-stry-upr-left-inr{width:146px;height:146px;}
.my-stry-upr-left-inr img{width:145px;height:146px;}
.my-stry-upr-mid{width:48.5%;}
.my-stry-upr-right{width:26%;}
.elzbt-sec-left{width:100%;}
.elzbt-sec-right{width:100%;margin-left:0%;}
.elzbt-sec-right a{margin-bottom:0px;}
.chk-avalb-lft{width:63%;}
.chk-avalb-rgt{width:37%;}
.get-paid-sec-proces-paymnt input[type=text]{width:430px;}
.searchby-row label{width:auto;padding:5px 5px 5px 0px;}
.sselect-rp{width:100px;}
.stextbox-rp{width:153px;}
.store-logo{width:100%;}
.store-banner{width:100%;}
.cart-col-md-8{width:100%;}
.cart-col-md-4{width:100%;}
.hdr-new-rw .auto-container-hed2{width:100%;}
.cart-right-main{margin-left:0%;width:95.3333%;}
.boxgrey-rp{width:34px;}
.frgt-pasd-wrp{width:400px;margin:268px 20.5%;}
.compare-popup{width:550px;}
.prevw-list-row-lft2{width:400px;}
body .jFiler-input-dragDrop{width:64.39%;}
body .jFiler-items{float:left;width:100%;}
.org-prc input[type=text]{width:78.5%;}
.usd{width:18%;}
.popup-1 .modal-content{top:-80px;}
.popup-2{top:-80px;}
.addressSec-col{width:100%;}
.addressSec-col + .addressSec-col{float:left;width:100%;}
.sel-dashbrd-frst .panel-body{padding:25px 22px;}
.msg-sectbl{overflow:auto;}
.msg-sectbl table{width:100px;max-width:none;}
.pend-shp-ord a{margin-bottom:10px;}
.membr-stry-btn a.favrt-btn{font-size:15px;}
.show-itm h5{margin:6px 8px 0px 0px;font-size:13px;}
.show-itm h6{margin:6px 4px 0px 0px;}
.my-stry-mid-tp h6{clear:left;}
.pendshp-tb .my-account-right-table .table{width:900px;max-width:none;}
.mang-search-opt select{width:120px;}
.search-product{width:50%;margin-left:8px;}
.search-product input[type=text]{width:100%;margin:0px 0px 10px 0px;}
.search-product input[type=submit]{float:right;}
.resetbutton{float:right!important;}
.myfan-img{width:100%;}
.myfan-right{width:100%;}
.myfan-suny .odrList-wrap .myfan-rtoptxt.sec01{width:27%;}
.myfan-suny .odrList-wrap .myfan-rtoptxt.sec02{width:27%;}
.shipbil-rcol.sec03{width:39%;}
.inany-lbl{width:100%;}
.inany-dtl{width:100%;}
.banything-lbl{width:30%;}
.banything-dtl{width:70%;}
.unique-itm-main-row-bx h5{font-size:14px;}
.td-sale-bx-rgt img{width:68px;}
.td-sale-bx{width:100%;margin-right:0%;margin-bottom:15px;}
.uty-seller-dash-1 .panel-body{padding:25px 0px;}
.ordrs-left{width:25%;}
.ordrs-right{width:71%;}
.best-descb-rgt-row input[type="radio"] + label p{max-width:92%;}
.unique-itm-main-row-bx{width:100%;}
.catrg-bx-row-clr input[type="checkbox"] + label p{max-width:83%;}
.prices-profir-sec-bx{padding:12px 0px 12px;}
.chrg-fr-ship-rd{width:5.5%;}
.chrg-fr-ship-txt{width:90.5%;}
.btm-tsubrow2 .stextbox-rp{width:48%;}
.sm-drop{position:absolute;width:400px;}
.auto-container-hed2{width:100%;}
.crt-bil-paypal{padding:23px 32px 13px 38px;}
.cart-right-lowr2{width:40%;float:none;margin:auto;padding-bottom:10px;}
.cart-right-lowr2 a.prcd-btn{margin-bottom:15px;}
.compre-detal-tbl{overflow:auto;}
.compre-detal-tbl table{width:900px;max-width:none;}
}