@charset "utf-8";@media only screen and (min-width:992px) and (max-width:1199px){.auto-container{width:96%;}
.footr-wrp{width:100%;}
.footr-wrp-2{width:100%;}
.auto-container-hed{width:100%;}
.search-sec{margin-left:26.5%;}
.wdth-50{top:auto;bottom:27px;}
.wdth-50 p{font-size:44px !important;}
.bnr-sec a.bnr-fb{width:200px;height:32px;background-size:cover;}
.bnr-sec a.bnr-eml{width:182px;height:32px;background-size:cover;}
#map-container{width:100%!important;}
.only-for-lft ul li span{width:80px;}
.only-for-lft ul li table{width:73%;}
.hm-srch-fld{width:100%;}
.col-md-3.connectSec.pad-rgt-0{padding-right:15px!important;}
.ftr-lnk-3 img{margin-right:4px;}
.blog-aside{padding-left:15px;}
.blog-list-tit h2{font-size:40px;}
.blog-list-date p{font-size:17px;}
.blog-list-txt,
.blog-detail-txt{font-size:19px;}
.blog-lst-btn{margin-top:6px;}
.blog-lst-btn a{width:60%;}
.blog-list-inner{padding-left:2%;padding-right:2%;}
.discus-sec a{font-size:18px;}
.crd-det-midd{line-height:1.5;}
.banfit-wrp{width:100%;}
.plan-free-hed table tr td h3,
.plan-free-bacs table tr td h3,
.plan-free-pro table tr td h3,
.plan-free-delx table tr td h3{font-size:40px;}
.my-account-right-table .table>thead>tr>th{font-size:16px;}
.my-account-right-table .table>tbody>tr>td{font-size:15px;}
.store-profile-row-lft{width:27%;}
.store-profile-row-rgt{width:70%;}
.store-profile-row .upld-btn{float:right;}
.sv-bck-sec .bck-btn{margin-top:16px;}
.store-profile-row .sv-bck-sec .upld-btn{float:left;}
.col-sm-3{width:35%;}
.col-sm-9{width:65%;}
a.com-btn{padding:8px 0px;margin:0px 10px 0px 0px;}
a.clear-btn{font-size:17px;}
.store-syntax-top{margin-left:19.666667%;width:81.333333%;}
.membr-share{margin-left:10%;}
.membr-snce-rw-right{margin-right:0%;}
.my-stry-upr-left{width:21%;}
.my-stry-upr-mid{width:54.5%;}
.my-stry-upr-right{width:20%;}
.elzbt-sec-left{width:100%;}
.elzbt-sec-right{width:100%;margin-left:0%;}
.elzbt-sec-right a{margin-bottom:0px;}
.chk-avalb-lft{width:70%;}
.chk-avalb-rgt{width:30%;}
.get-paid-sec-proces-paymnt input[type=text]{width:570px;}
.cart-col-md-8{width:68%;}
.cart-col-md-4{width:32%;}
.hdr-new-rw .auto-container-hed2{width:100%;}
.prevw-list-row-lft2{width:500px;}
.org-prc input[type=text]{width:82.5%;}
.usd{width:14%;}
.popup-1 .modal-content{top:-80px;}
.compare-main{width:100%;margin:0px 0%;}
.popup-2{top:-80px;}
.my-account-right-table{overflow:scroll;}
.my-account-right-table table{width:800px;max-width:none;}
.addressSec-bdr{padding:0px 7px;}
.accort-info-bx-tilt h5{width:100%;}
.accort-info-bx-tilt a{float:left;width:100%;}
.pend-shp-ord a{margin-bottom:10px;}
.show-itm h5{margin:6px 8px 0px 0px;}
.pendshp-tb .my-account-right-table .table{width:900px;max-width:none;}
.mang-search-opt select{width:90px;}
.search-product{width:69%;}
.search-product input[type=text]{width:49%;}
.myfan-suny .odrList-wrap .myfan-rtoptxt.sec01{width:23%;}
.myfan-suny .odrList-wrap .myfan-rtoptxt.sec02{width:24%;}
.inany-lbl{width:34%;}
.inany-dtl{width:66%;}
.unique-itm-main-row-bx{width:100%;}
.catrg-bx-row-clr input[type="checkbox"] + label p{max-width:87%;}
.auto-container-hed2{width:100%;}
.compre-detal-tbl{overflow:auto;}
.compre-detal-tbl table{width:900px;max-width:none;}
}