/* Base Form Element Settings Starts */
.base-txtbox{
	float:left;
	width:302px; /* auto */
	height:auto;
}
.base-txtbox input{
	float:left;
	width:100%;
	height:48px;
	background-color:#FFF;
	border:1px solid #e4e4e4;
	outline:none;
	
	font-family: 'source_sans_proregular';
	color:#6f6f6f;
	font-size:16px;
	font-weight:normal;
	
	border-radius:6px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	
	box-sizing:border-box;
	padding:10px 13px;
}
.base-tbtn{
	float:left;
	width:auto; /* auto */
	height:auto;
	min-width: 120px;
}
.base-tbtn input[type=submit],
.base-tbtn input[type=button]{
	float:left;
	width:100%;
	height: 39px;
	background-color:#008ac5;
	border:1px solid #008ac5;
	outline:none;
	cursor: pointer;
	font-family: 'source_sans_proregular';
	color:#fff;
	font-size:16px;
	font-weight:normal;
	border-radius:6px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	box-sizing:border-box;
	padding:5px 13px;
}
.base-tbtn input[type=submit]:hover,
.base-tbtn input[type=button]:hover{
	background-color:#FFF;
	color:#008ac5;
}
/* Base Form Element Settings Ends */

/* Message Center CSS Starts */
.custombtn-large{
	float:left;
	width:auto;
	height:auto;
}
.custombtn-large a, 
.custombtn-large input, 
.custombtn-large button{
	float:left;
	width:auto; /* 155px */
	height:auto;
	background-color:#008ac5;
	font-family: 'source_sans_probold';
	font-size:16px;
	color:#fff;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:normal;
	text-align:center;
	border:1px solid #008ac5;
	outline:none;
	
	border-radius:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	
    padding: 7px 14px;
	text-decoration:none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.custombtn-large a:hover, 
.custombtn-large input:hover, 
.custombtn-large button:hover{
	background-color:#FFF;
	color:#008ac5 ;
}
.message-wrapper{
	float:left;
	width:100%;
	height:auto;
}
.my-account-right-head.addbtmPad{
	padding:0px 0px 5px 0px;
}
.msg-hd-inrow{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 6px 0px;
}
.msg-hd-inrow h5{
	float:left;
	width:auto;
	height:auto;
	max-width:76%;
}
.del-btnright{
	float:right;
	width:auto;
	height:auto;
	margin:11px 0px 0px 0px;
}
.msg-center-btm{
	float:left;
	width:100%;
	height:auto;
}
.topGrey-bar{
	float:left;
	width:100%;
	height:auto;
	box-sizing:border-box;
	background-color:#fafafa;
	border:1px solid #cccccc;
	padding:10px 12px;
}
.searchby-wrap{
	float:left;
	width:100%;
	height:auto;
}
.searchby-row{
	float:left;
	width:100%;
	height:auto;
}
.searchby-row label{
	float:left;
	width:auto;
	height:auto;
	padding:5px 11px 0px 0px;
	margin:0px;
	font-family: 'source_sans_prosemibold';
	font-size:15px;
	color:#000000;
}
.stextbox-rp{
	float:left;
	width:218px; /* auto */
	height:auto;
	padding:0px 8px 0px 0px;
}
.stextbox-rp input{
	float:left;
	width:100%;
	height:29px;
	background-color:#FFF;
	border:1px solid #e4e4e4;
	outline:none;
	
	color:#6f6f6f;
	font-size:14px;
	font-family: 'source_sans_proregular';
	font-weight:normal;
	
	border-radius:6px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	
	box-sizing:border-box;
	padding:0px 7px;
}
.sselect-rp{
	float:left;
	width:153px; /* auto */
	height:auto;
	padding:0px 8px 0px 0px;
}
.sselect-rp select{
	float:left;
	width:100%;
	height:29px;
	background-color:#FFF;
	border:1px solid #e4e4e4;
	outline:none;
	
	color:#6f6f6f;
	font-size:14px;
	font-family: 'source_sans_proregular';
	font-weight:normal;
	
	border-radius:6px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	
	box-sizing:border-box;
	padding:0px 7px;
}
.search-btn{
	float:left;
	width:auto;
	height:auto;
}
.search-btn .custombtn-large a, 
.search-btn .custombtn-large input, 
.search-btn .custombtn-large button{
	padding: 3px 14px 2px 14px;
}
.msg-secbtm-rp{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 50px 0px;
}
.msg-sectbl{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 20px 0px;
}
.msg-sectbl table{
	float:left;
	/* width:100%; */
	height:auto;
	table-layout:fixed;
	border:none;
}
.msg-sectbl table tr th{
	padding:15px 3px;
	font-family: 'source_sans_prosemibold';
	font-size:18px;
	color:#000000;
	font-weight:normal;
	vertical-align:top;
	border-bottom:2px solid #e8e6e8;
	box-sizing: border-box;
}
.msg-sectbl table tr td{
	padding:11px 3px;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#000000;
	font-weight:normal;
	vertical-align:top;
	background-color:#FFF;
	border-bottom:2px solid #e8e6e8;
	box-sizing: border-box;
}
.msg-sectbl table tr.unread td{
	background-color:#f4f4f4;
}
.msg-sectbl table tr td a{
	text-decoration:underline;
	color:#000000;
}
.msg-sectbl table tr td a:hover{
	text-decoration:none;
}
.colOne{
	width:33px;
}
.colTwo{
	width:124px;
}
.colThree{
	width:129px;
}
.colFour{
	width:120px;
}
.colFive{
	width:331px;
}
.colSix{
	width:80px;
}
.msg-sectbl table tr th.colSix, 
.msg-sectbl table tr td.msgaction{
	text-align:right;
	padding-right:8px;
}
.msg-actionrp{
	float:right;
	width:auto;
	height:auto;
}
.msg-actionrp ul{
	list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.msg-actionrp ul li{
	float:left;
	width:auto;
	height:auto;
	margin:0px;
	padding:0px 0px 0px 12px;
}
.viewmsg-btn{
	float:left;
	width:auto;
	height:auto;
	padding:2px 0px 0px 0px;
	position:relative;
}
.viewmsg-btn a{
	display:block;
	float:left;
	width:25px;
	height:17px;
	cursor:pointer;
	background-image:url('../images/viewmsg-btn.png');
	background-position:bottom left;
	background-repeat:no-repeat;
	border:none;
	outline:none;
	text-decoration:none;
}
.viewmsg-btn a:hover{
	background-position:top left;
}
.delmsg-btn{
	float:left;
	width:auto;
	height:auto;
	position:relative;
}
.delmsg-btn a{
	display:block;
	float:left;
	width:17px;
	height:19px;
	cursor:pointer;
	background-image:url('../images/delmsg-btn.png');
	background-position:bottom left;
	background-repeat:no-repeat;
	border:none;
	outline:none;
	text-decoration:none;
}
.delmsg-btn a:hover{
	background-position:top left;
}
.viewBubble{
	position:absolute;
	top:-6px;
	right:-6px;
	width:auto;
	height:auto;
	min-width:15px;
	min-height:15px;
	background-color:#eb0000;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
	
	font-family: 'source_sans_prosemibold';
	font-size:10px;
	color:#ffffff;
	text-align:center;
	line-height:1.5;
}
.msb-lastfrow{
	float:left;
	width:100%;
	height:auto;
}
.showing-rp{
	float:left;
	width:auto;
	height:auto;
	font-family: 'source_sans_prosemibold';
	font-size:16px;
	color:#333333;
}
.msg-bright{
	float:right;
	width:auto;
	height:auto;
}
.pagination-rp{
	float:left;
	width:auto;
	height:auto;
}
.pagination-rp a.nextBtn, 
.pagination-rp a.preBtn{
	float:left;
	width:32px;
	height:29px;
	outline:none;
	border:none;
	cursor:pointer;
	border:1px solid #e5e5e5;
	background-color:#FFF;
	box-sizing:border-box;
}
.pagination-rp a.nextBtn:hover, 
.pagination-rp a.preBtn:hover{
	background-color:#008ac5;
}
.pagination-rp a.nextBtn{
	background-image:url('../images/arrowNext.png');
	background-position:bottom left;
	background-repeat:no-repeat;
}
.pagination-rp a.preBtn{
	background-image:url('../images/arrowPre.png');
	background-position:bottom left;
	background-repeat:no-repeat;
}
.pagination-rp a.nextBtn:hover, 
.pagination-rp a.preBtn:hover{
	background-position:top left;
}
.paginationInner{
	float:left;
	width:auto;
	height:auto;
	font-family: 'source_sans_prosemibold';
	font-size:16px;
	color:#000;
	padding:5px 9px 0px 9px;
}
.paginationInner a{
	color:#000;
	text-decoration:none!important;
	margin:0px 3px;
}
.paginationInner a:hover, 
.paginationInner a.active{
	color:#008ac5;
}

.pagination-rp2{
	float:left;
	width:auto;
	height:auto;
}
.pagination-rp2.fanpage{
	padding:20px 0px;
}
.page-nextBtn, 
.page-preBtn{
	float:right;
	width:32px;
	height:auto;
	margin:0px 0px 0px 8px;
}
.page-preBtn{
	float:left;
	margin:0px 8px 0px 0px;
}
.page-nextBtn a, 
.page-preBtn a{
	float:left;
	width:32px;
	height:29px;
	outline:none;
	border:none;
	cursor:pointer;
	border:1px solid #e5e5e5;
	background-color:#FFF;
	box-sizing:border-box;
}
.page-nextBtn a:hover, 
.page-preBtn a:hover{
	background-color:#008ac5;
}
.page-nextBtn a{
	background-image:url('../images/arrowNext.png');
	background-position:bottom left;
	background-repeat:no-repeat;
}
.page-preBtn a{
	background-image:url('../images/arrowPre.png');
	background-position:bottom left;
	background-repeat:no-repeat;
}
.page-nextBtn a:hover, 
.page-preBtn a:hover{
	background-position:top left;
}
.paginationInner2{
	float:left;
	width:auto;
	height:auto;
	font-family: 'source_sans_prosemibold';
	font-size:16px;
	color:#000;
}
.paginationInner2 a{
	display: inline-block;
	color:#000;
	text-decoration:none!important;
	margin:5px 4px 0px 4px;
}
.paginationInner2 .page-nextBtn a, 
.paginationInner2 .page-preBtn a{
	margin:0px;
}
.paginationInner2 a:hover, 
.paginationInner2 a.active{
	color:#008ac5;
}
/* Message Center CSS Ends */

/* Message Reply CSS Starts */
.msgreply-top{
	float:left;
	width:100%;
	height:auto;
}
.msgreply-box{
	float:left;
	width:100%;
	height:auto;
	box-sizing:border-box;
	background-color:#fafafa;
	border:1px solid #cccccc;
	padding:29px 29px 10px 29px; /* 29px 38px 10px 38px */
}
.msgreply-inner{
	float:left;
	width:100%;
	height:auto;
}
.msgreplyFrm{
	float:left;
	width:100%;
	height:auto;
}
.msgreply-row{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 15px 0px;
}
.msgreply-row label{
	float:left;
	width:16.67%; /* 123 of 738 */
	height:auto;
	padding:10px 0px 0px 0px;
	font-family: 'source_sans_prosemibold';
	font-size:17px;
	color:#000;
	font-weight:normal;
}
.msgreply-row .error{
	padding: 5px 0px 0px 0px;
}
.msgreply-txtarea{
	float:left;
	width:83.33%; /* 615 of 738 */
	height:auto;
}
.msgreply-txtarea textarea{
	float:left;
	width:100%;
	height:200px;
	outline:none;
	border:1px solid #e4e4e4;
	border-radius:5px;
	color:#6f6f6f;
	font-size:16px;
	font-family: 'source_sans_proregular';
	font-weight:normal;
	padding:10px 13px 0px;
	resize:none;
}
.msgreply-btnsec{
	float:right;
	width:auto;
	height:auto;
}
.msgreply-btn{
	float:left;
	width:auto;
	height:auto;
	padding:0px 0px 0px 6px;
}
.msgreply-btn input, 
.msgreply-btn button, 
.msgreply-btn a {
	float:left;
	display:block;
	width:auto;
	height:auto;
	min-width:88px;
	font-family: 'source_sans_probold';
	font-weight:normal;
	font-size:16px;
	color: #ffffff;
	padding: 4px 10px;
	border:1px solid transparent;
	outline: none;
	text-decoration:none;
	cursor: pointer;
	background-color: #008ac5;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	
	
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	border-radius:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.msgreply-btn input:hover, 
.msgreply-btn button:hover, 
.msgreply-btn a:hover{
	background-color:transparent;
	border-color: #008ac5;
	color:#008ac5;
}
.msgreply-btm{
	float:left;
	width:100%;
	height:auto;
	padding:14px 0px 0px 0px;
}
.msgreply-tbl{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 25px 0px;
}
.msgreply-tbl table{
	float:left;
	width:100%;
	height:auto;
	border:none;
	table-layout:fixed;
}
.msgreply-tbl table tr th{
	font-weight:normal;
	font-family: 'source_sans_prosemibold';
	font-size:18px;
	color:#000000;
	background-color:#FFF;
	border-bottom:2px solid #e8e6e8;
	padding:15px 6px;
}
.msgreply-tbl table tr th.firstcol, 
.msgreply-tbl table tr td.firstcol{
	padding-left:12px;
}
.msgreply-tbl table tr td{
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#000000;
	background-color:#FFF;
	padding:11px 6px;
}
.msgreply-tbl table tr.even td{
	background-color:#f4f4f4;
	border-top:1px solid #e8e6e8;
	border-bottom:1px solid #e8e6e8;
}
.msgreply-tbl table tr td a{
	color:#000000;
	text-decoration:underline;
}
.msgreply-tbl table tr td a:hover{
	text-decoration:none;
}
.msgreply-tbl table tr td p{
	margin:0px;
}
.msgcol1{
	width:15%; /* 135 of 816 */
}
.msgcol2{
	width:17%; /* 126 of 816 */
}
.msgcol3{
	width:16%; /* 121 of 816 */
}
.msgcol4{
	width:52%; /* 434 of 816 */
}
/* Message Reply CSS Ends */

/* Store Setting CSS Starts */
.store-btmWrap{
	float:left;
	width:100%;
	height:auto;
}
.store-mainsec{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 22px 0px;
}
.store-tophdr{
	float:left;
	width:100%;
	height:auto;
	padding:6px 0px 5px 0px;
}
.store-th{
	float:left;
	width:auto;
	height:auto;
}
.store-th h3{
	font-weight:normal;
	font-family: 'source_sans_prosemibold';
	font-size:18px;
	color:#000000;
	text-transform:uppercase;
	margin:0px;
}
/*
.store-bdtlWrap{
	float:left;
	width:100%;
	height:auto;
	box-sizing:border-box;
	border:1px solid #cccccc;
	padding:0;
}
*/
.btm-boxwrap{
	float:left;
	width:100%;
	height:auto;
	box-sizing:border-box;
	border:1px solid #cccccc;
	border-top:none;
	padding:21px 13px 7px 13px;
}
.btm-boxinner{
	float:left;
	width:100%;
	height:auto;
}
.btm-boxfrm{
	float:left;
	width:100%;
	height:auto;
}
.btm-ftxt{
	float:left;
	width:100%;
	height:auto;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#000000;
	font-weight:normal;
	padding:0px 0px 12px 0px;
}
.btm-ftxt a{
	color:#000000;
	text-decoration:underline;
}
.btm-ftxt a:hover{
	color: #008ac5;
}
.btm-frow{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 15px 0px;
}
.bf-rleft{
	float:left;
	width:17.61%; /* 139 of 789 */
	height:auto;
	box-sizing:border-box;
	padding:14px 10px 0px 0px;
}
.bf-rleft label{
	float:left;
	width:100%; /* of */
	height:auto;
	font-weight:normal;
	font-family: 'source_sans_probold';
	font-size:16px;
	color:#000000;
	margin:0px;
}
.bf-rright{
	float:left;
	width:82%; /* 100 - 17.61 = 82.39 649 */
	height:auto;
}
/* Store Setting CSS Ends */

/* Rounded Checkbox Starts */
.base-checkbox{
	float:left;
	width:auto;
	height:auto;
	padding: 11px 0px 0px 0px;
}
.switch {
	position: relative;
	display:block;
	margin:auto;
	width: 110px; /* 50 */
	height: 28px; /* 30 */
}
.switch input {
	display:none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #dddddd;
	transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	/*
	-webkit-transition: .4s;
	transition: .4s;
	*/
}
.slider:before {
	position: absolute;
	content: "OFF";
	height: 24px; /* 26 */
	width: 59px; /* 26 */
	left: 2px;
	bottom: 2px;
	background-color: #c2c2c2;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	/*
	-webkit-transition: .4s;
	transition: .4s;
	*/
	text-align:center;
	color:#FFF;
	line-height: 1.6;
	border:1px solid #bcbcbc;
	border-bottom:1px solid #939393;
}
input:checked + .slider:before{
	content: "ON";
	background-color: white;
	color:#fe6303;
	border:1px solid #f99151;
	border-bottom:1px solid #f05c00;
}
input:checked + .slider {
	background-color: #fe6303;
}
input:focus + .slider {
	box-shadow: 0 0 1px #52ca63;
}
input:checked + .slider:before {
	-webkit-transform: translateX(47px);
	-ms-transform: translateX(47px);
	transform: translateX(47px);
}
/* Rounded sliders */
.slider.round{
	border-radius: 0px; /* 34px */
}
.slider.round:before{
	border-radius: 0px; /* 50% */
}
/* Rounded Checkbox Ends */

/* Left Nav Settings Starts */
.my-account-left.seller-nav h2{
	margin: 0px 0px 13px 0px; 
}
.my-account-left.seller-nav .dashbrd-lnk{
	margin-bottom: 20px;
}
.my-account-left.seller-nav .dashbrd-lnk + .dashbrd-lnk + .dashbrd-lnk{
	margin-bottom: 27px;
}
.my-account-left.seller-nav .dashbrd-lnk ul{
	margin-bottom: 0px;
}
.my-account-left.seller-nav .dashbrd-lnk h5{
	margin-bottom: 13px;
}
.my-account-left.seller-nav .dashbrd-lnk ul li{
	margin-bottom: 5px;
}
/* Left Nav Settings Ends */

/* My Fan CSS Starts */
.btm-colswrap{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 14px 0px;
}
.btm-fcol{
	float:left;
	width:20%; /* 157 of 762 20.60 */
	height:auto;
	min-height:100px;
	box-sizing:border-box;
	padding:0px 0px 15px 0px;
}
.btm-fcol + .btm-fcol{
	border-left:1px solid #cccccc;
}
.btm-fcol.first{
	border-left:none;
}
.btm-fcinner{
	float:left;
	width:100%;
	height:auto;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#000000;
	font-weight:normal;
	text-align:center;
}
.btm-fcinner h3{
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:40px;
	color:#000000;
	margin:13px 0px 7px 0px;
}
.wfilter{
	color:#008ac5;
}
.btm-fcinner a{
	color:#000000;
	text-decoration:underline;
}
.btm-fcinner a:hover{
	color:#008ac5;
	text-decoration:none;
}
.btm-fcinner a .wfilter{
	color:#008ac5;
}
.searchby-wrap.myfan-search .search-btn .custombtn-large a, 
.searchby-wrap.myfan-search .search-btn .custombtn-large input, 
.searchby-wrap.myfan-search .search-btn .custombtn-large button{
	padding: 7px 12px 6px 12px;
}
.searchby-wrap.myfan-search .stextbox-rp input{
	height: 37px;
	padding:7px;
	font-size:16px;
}
.myfan-listwrap{
	float:left;
	width:100%;
	height:auto;
	padding:8px 0px 0px 0px;
}
.myfan-listrow{
	float:left;
	width:100%; /* 816 */
	height:auto;
	border-bottom:1px solid #e8e6e8;
	padding:15px 0px;
}
.myfan-img{
	float:left;
	width:11.7%; /* 92 of 816 11.27 */
	height:auto; /* 86 */
	text-align:center;
	margin:0px 2.2% 0px 0px; /* 18 of 816 */
}
.myfan-img table{
	float:left;
	width:100%;
	height:auto;
	border:none;
	table-layout:fixed;
}
.myfan-img table tr td{
	width:100%;
	height:86px;
	text-align:center;
	vertical-align:middle;
}
.myfan-img img{
	max-width:100%;
	width:auto;
	height:auto;
	border:none;
	outline:none;
}
.myfan-right{
	float:left;
	width:85.5%; /* 706 of 816 86 */
	height:auto;
}
.myfan-rinner{
	float:left;
	width:100%;
	height:auto;
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#000000;
	line-height:1.2;
	margin:-2px 0px 0px 0px;
}
.myfan-rinner h4{
	font-family: 'source_sans_probold';
	font-size: 19px;
	font-weight: normal;
}
.myfan-listrow a, 
.myfan-rinner a{
	color:#000000;
	text-decoration:none;
}
.myfan-listrow a:hover,
.myfan-listrow a:hover .myfan-rinner, 
.myfan-rinner a:hover{
	color:#008ac5;
}
.myfan-rtoptxt{
	float:left;
	width:100%;
	height:auto;
	min-height:66px;
	padding:0px 0px 5px 0px;
	font-size:16px;
}
.myfan-binfo{
	float:left;
	width:100%;
	height:auto;
	font-size:14px;
}
.binfo-rp{
	float:left;
	width:auto;
	height:auto;
	padding:0px 54px 0px 0px;
}
.infoico{
	float:left;
	width:15px;
	height:21px;
	background-image:url('../images/binfo-icoadd.png');
	background-position:top left;
	background-repeat:no-repeat;
	margin:0px 7px 0px 0px;
}
.infotxt{
	float:left;
	width:auto;
	height:auto;
	padding:6px 0px 0px 0px;
}
/* My Fan CSS Ends */

/* Manage Order View CSS Starts */
.btm-odrdtl-wrap{
	float:left;
	width:100%;
	height:auto;
}
.btm-odbdr{
	float:left;
	width:100%;
	height:auto;
	box-sizing:border-box;
	padding:0px 12px; /* 0 16 */
}
.btm-odbdr + .btm-odbdr{
	border-top:2px solid #e8e6e8;
}
.btm-odbdr.nobdr{
	border-bottom:none;
}
.btm-trackwrp{
	float:left;
	width:100%;
	height:auto;
	padding: 0px 0px 13px 0px;
}
.btm-trackrow{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 16px 0px;
}
.btm-trackrow label{
	float:left;
	width:100%;
	height:auto;
	font-weight:normal;
	/* font-family: 'source_sans_proregular'; */
	font-family: 'source_sans_prosemibold';
	font-size:16px;
	color:#000000;
	padding:0px 0px 7px 0px;
}
.btm-tsubrow{
	float:left;
	width:100%;
	height:auto;
}
.btm-tsubrow .sselect-rp{
	padding:0px 21px 0px 0px;
	box-sizing:border-box;
	width:43.2%; /* 324 of 750 */
}
.btm-tsubrow .sselect-rp select{
	height:48px;
	font-size:16px;
}
.btm-tsubrow .stextbox-rp{
	box-sizing:border-box;
	width:56%; /* 427 of 750 59.33 */
}
.btm-tsubrow .stextbox-rp input{
	font-size:16px;
	height:48px;
	padding:11px 7px;
}
.btm-tsubrow2{
	float:left;
	width:100%;
	height:auto;
}
.btm-tsubrow2 .stextbox-rp{
	box-sizing:border-box;
	width:41%; /* 427 of 750 59.33 */
	padding-right: 2%;
}
.btm-tsubrow2 .stextbox-rp + .stextbox-rp{
	width:56%; /* 427 of 750 59.33 */
	padding-left: 1%;
	padding-right: 0px;
}
.btm-tsubrow2 .stextbox-rp input{
	font-size:16px;
	height:48px;
	padding:11px 7px;
}
.uptrack-btn{
	float:left;
	width:auto;
	height:auto;
}
.uptrack-btn .custombtn-large a, 
.uptrack-btn .custombtn-large input, 
.uptrack-btn .custombtn-large button{
	padding: 11px 23px 10px 23px;
}
.order-viewdtl{
	float:left;
	width:100%;
	height:auto;
	padding:27px 0px 18px 0px;
}
.banything-wrapper{
	float:left;
	width:100%;
	height:auto;
}
.banything-row{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 2px 0px;
}
.banything-lbl{
	float:left;
	width:24%; /* 184 of 751 */
	height:auto;
	box-sizing:border-box;
	padding:0px 10px 0px 0px;
	font-weight:normal;
	/* font-family: 'source_sans_prosemibold'; */
	font-family: 'source_sans_probold';
	font-size:18px;
	color:#000000;
}
.banything-dtl{
	float:left;
	width:70%; /* 530 of 751 */
	height:auto;
	box-sizing:border-box;
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:18px;
	color:#000000;
}
.banything-dtl a{
	text-decoration:underline;
	color:#000000;
}
.banything-dtl a:hover{
	text-decoration:none;
}
.banything-dtl a .tracknum, 
.banything-dtl .tracknum a{
	color:#008ac5;
}
.tracknum{
	color:#008ac5;
	font-size:17px;
}

.inany-wrapper{
	float:left;
	width:100%;
	height:auto;
}
.inany-row{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 2px 0px;
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#000000;
	position:relative;
}
.inany-row h3{
	float:left;
	width:auto;
	height:auto;
	font-weight:normal;
	font-family: 'source_sans_prosemibold';
	font-size:18px;
	color:#000000;
	margin:0px 0px 10px 0px;
}
.inany-lbl{
	float:left;
	width:28%; /* 184 of 751 24 */
	height:auto;
	box-sizing:border-box;
	padding:0px 7px 0px 0px;
	font-weight:normal;
	font-family: 'source_sans_prosemibold';
	font-size:16px;
	color:#000000;
}
.inany-dtl{
	float:left;
	width:70%; /* 530 of 751 */
	height:auto;
	box-sizing:border-box;
}
.inany-dtl a{
	text-decoration:underline;
	color:#000000;
}
.inany-dtl a:hover{
	text-decoration:none;
}
.inany-dtl a .anyb-txt, 
.inany-dtl .anyb-txt a{
	color:#008ac5;
}
.anyb-txt{
	color:#008ac5;
}
.shipbil-view{
	float:left;
	width:100%;
	height:auto;
	padding:28px 0px 0px 0px;
}
.shipbil-vrow{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 26px 0px;
}
.shipbil-vrow.last{
	padding:0px 0px 5px 0px;
}
.shipbil-lcol{
	float:left;
	width:47.69%; /* 352 of 738  */
	height:auto;
	padding:0px 0px 15px 0px;
}
.shipbil-rcol{
	float:right;
	width:51%; /* 416 of 738 56.36  */
	height:auto;
	padding:0px 0px 15px 0px;
}
.inany-wrapper.odrsummary .inany-lbl{
	width:47%;
}
.inany-wrapper.odrsummary .inany-dtl{
	width:51%;
}
.inany-subsec{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 1px 0px;
}
.inany-lbl.odrtotal, 
.inany-dtl.odrtotal{
	font-family: 'source_sans_probold';
	font-size:18px;
	padding-top:28px;
}
.inany-lk{
	float:right;
	width:auto;
	height:auto;
	padding:0px 0px 0px 10px;
	margin:-1px 0px 0px 0px;
}
.inany-lk a{
	color:#008ac5;
	text-decoration:underline;
}
.inany-lk a:hover{
	color:#000;
}
.odrList-wrap{
	float:left;
	width:100%;
	height:auto;
}
.odrList-wrap .myfan-listrow{
	border-bottom:none;
	padding: 18px 0px;
}
.odrList-wrap .myfan-listrow + .myfan-listrow{
	border-top: 1px solid #e8e6e8;
}
.lastbdr{
	border-bottom: 1px solid #e8e6e8!important;
	margin-bottom: 25px;
    padding-bottom: 15px!important;
}
.odrList-wrap .myfan-rtoptxt{
	min-height:1px;
	padding:0px;
	width: 44%;
}
.myfan-rtoptxt.ack-txt{
	width:19%;
	font-size: 14px;
	text-align:center;
	padding:2px 0px 0px 0px;
	line-height: 1.45;
}
.btorder-row{
	float:left;
	width:100%;
	height:auto;
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#000000;
	padding:8px 0px;
}
.btorder-lk{
	float:right;
	width:auto;
	height:auto;
	padding:0px 0px 0px 10px;
}
.btorder-lk a{
	color:#008ac5;
	text-decoration:none;
}
.btorder-lk a:hover{
	color:#000;
}
.sm-drop{
	position:absolute;
	top:25px;
	right:0px;
	width:460px; /* 489 */
	height:auto;
	box-sizing:border-box;
	border:1px solid #cccccc;
	background-color:#ffffff;
	z-index:1;
	padding:18px 16px 11px 16px;
}
.shipd-wrap{
	float:left;
	width:100%;
	height:auto;
	position:relative;
}
.shipd-close{
	position:absolute;
	top:-10px;
	right:-10px;
	width:10px; /* 11 */
	height:10px;/* 14 */
	z-index:2;
	outline:none;
	border:none;
	cursor:pointer;
	display:block;
	text-decoration:none;
	background-image:url('../images/pop-up-closebt.png');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.shipd-row{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 13px 0px;
}
.shipd-row label{
	float:left;
	width:40%; /* 167 of 426 39.2 */
	height:auto;
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#6f6f6f;
	padding:6px 0px 0px 0px;
}
.shipd-row .sselect-rp{
	width:56%;
	padding:0px;
}
.shipd-row .sselect-rp select{
	height: 35px;
	font-size:16px;
	color:#6f6f6f;
}
.shipdbtm-rp{
	float:left;
	width:100%;
	height:auto;
}
.shipdbtm-rp label{
	float:left;
	width:100%;
	height:auto;
	font-weight:normal;
	font-family: 'source_sans_prosemibold';
	font-size:16px;
	color:#000000;
	padding:0px 0px 3px 0px;
}
.sdb-inner{
	float:left;
	width:100%;
	height:auto;
}
.sdb-row{
	float:left;
	width:100%;
	height:auto;
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#6f6f6f;
	padding:0px 0px 7px 0px;
}
.sdb-lbl{
	float:left;
	width:80%; /* 350 of 426 82.15 */
	height:auto;
}
.sdb-val{
	float:right;
	width:19%; /* 76 of 426 17.84 */
	height:auto;
	text-align:right;
}
.sdb-radio{
	float:left;
	width:7.5%; /* 29 of 340 8.5 */
	height:auto;
}
.sdb-rtxt{
	float:left;
	width:91%; /* 311 of 340 91.47 */ 
	height:auto;
}
.shipdbtm-rp .sdb-rtxt label{
	width:auto;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#6f6f6f;
	margin:0px;
	padding:0px;
	cursor:pointer;
}
.ao-radio{
	float:left;
	width:auto;
	height:auto;
	padding:5px 0px 0px 0px;
}
.ao-radio input[type=radio]{
	display:none;
}
.ao-radio input[type="radio"] + label{
	display:inline-block;
	width:13px;
	height:13px;
	cursor:pointer;
	float:left;
	background-image: url(../images/uncheck-box.png);
	margin:0px;
	transition:  background 0.25s linear;
	-moz-transition:  background 0.25s linear;
	-webkit-transition:  background 0.25s linear;
	-o-transition:  background 0.25s linear;
}
.ao-radio input[type="radio"]:checked + label{
     background-image: url(../images/check-radio.png);
}
/* Manage Order View CSS Ends */

/* Address Listing Starts */
.addressSec-wrap{
	float:left;
	width:100%;
	height:auto;
}
.addressSec-bdr{
	float:left;
	width:100%;
	height:auto;
	box-sizing:border-box;
	padding:0px 15px;
}
.addressSec-bdr + .addressSec-bdr{
	border-top:2px solid #e8e6e8;
	padding-top:14px;
}
.addressSec-row{
	float:left;
	width:100%;
	height:auto;
}
.addressSec-col{
	float:left;
	width:49%;
	height:auto;
}
.addressSec-col.right{
	float:right;
}
.addressSec-col + .addressSec-col{
	float:right;
}
.addressSec-col .inany-row h3{
	margin: 0px 0px 15px 0px;
}
.addressSec-col .inany-lbl{
	width: 32%;
}
.addressSec-col .inany-dtl{
	width: 68%;
}
.adbtm-row{
	float:left;
	width:100%;
	height:auto;
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#000000;
	position:relative;
	padding:16px 0px 11px 0px;
}
.adbtm-row a{
	color:#008ac5;
	text-decoration:none;
}
.adbtm-row a:hover{
	text-decoration:underline;
}
.adbtm-row span{
	color:#008ac5;
	padding:0px 3px;
}
.ualert-row{
	float:left;
	width:100%;
	height:auto;
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:18px;
	color:#000000;
}
.ualert-row strong, 
.ualert-row b{
	font-weight:normal;
	font-family: 'source_sans_prosemibold';
}
.ualert-row .close{
	line-height: 1.3;
}
.adbtn-wrap{
	float:right;
	width:auto;
	height:auto;
	margin:-1px 0px 0px 0px;
}
.adbtn-wrap .custombtn-large a, 
.adbtn-wrap .custombtn-large input, 
.adbtn-wrap .custombtn-large button{
	padding: 7px 22px;
}
/* Address Listing Ends */

/*-------------14-nov-1017-------*/

.myfan-suny .odrList-wrap .myfan-rtoptxt {
    min-height: 1px;
    padding: 0px;
    width: 100%;
}
.myfan-suny .shipbil-rcol {
    float: right;
    width: 35%;
}
.myfan-suny .inany-lbl {
    width: 70% !important;
    font-family: 'source_sans_proregular';
}
.myfan-suny .inany-dtl {
    width: 30% !important;
    float: right;
    /* right: 0px; */
    text-align: right;
    display: blo;
}
.fan-con{
    width: 40%;
    float: right;
}
.myfan-suny .shipbil-rcol {
    float: right;
    width: 100%;
}
.fan-con-btn {
    margin: 12px 0px;
    float: left;
    width: 100%;
}
.fan-con-btn  input[type=submit] {
    float: left;
    clear: both;
    outline: none;
    border: 1px solid transparent;
    background-color: #008ac5;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'source_sans_probold';
    font-weight: normal;
    transition: all 0.5s ease;
    border-radius: 5px;
   	padding: 11px 12px;
}
.store-comp{
    float: right;
}
.store-comp a{
    font-family: 'source_sans_proregular';
    font-size: 16px;
    font-weight: normal;
}
.store-comp span{
    margin: 4px;
    color: #008ac5;
}
.banything-row-new .banything-lbl {
    width: 40%;
    padding: 50px 10px 0px 0px;
}
.btm-odbdr-new .shipbil-vrow {
    float: left;
    width: 100%;
    height: auto;
    padding: 0px 0px 0px 0px;
}
.btm-odbdr-new .banything-lbl {
    font-family: 'source_sans_prosemibold';
}

.bf-btnright{
	float: left;
    width: 57.2%;
	height: auto;	
}
.bf-btnright .base-tbtn{
	float: right;
}

/* New CSS Starts on 28-12-2017 */
.myfan-suny .odrList-wrap .myfan-rtoptxt.sec01 {
    min-height: 1px;
    padding: 0px;
    width: 28%; /* 44 */
    padding-right:1%;
}
.myfan-suny .odrList-wrap .myfan-rtoptxt.sec02 {
	width: 19%;
    padding: 2px 0px 0px 0px;
}
.shipbil-rcol.sec03 {
    min-height: 1px;
    padding: 0px;
    width: 46%;
}
.shipbil-rcol.sec03 .fan-con{
	width: 100%;
	padding-top: 8px;
}
.inany-lbl.odrtotal.ptop, .inany-dtl.odrtotal.ptop{
	padding-top:0px;
}
/* New CSS Ends on 28-12-2017 */
