.subf-active, .subsubf-active{display:block;}
.amazonmenu ul{list-style:none;margin:0;padding:0;}
.amazonmenu ul li{position:static;}
.amazonmenu > ul{background:white;width:203px;min-height:399px;position:relative;border-right:2px solid #ededed;}
.amazonmenu > ul li a{color:#000000;display:block;overflow:auto;position:relative;text-decoration:none;font-size:16px;font-family:'source_sans_probold';font-weight:normal;margin-bottom:17px;}
.amazonmenu > ul li.hassub > a::after{}
.amazonmenu > ul li.hassub.selected > a::after{}
.amazonmenu ul li a:hover{color:#008ac5;}
.amazonmenu ul li > div,
.amazonmenu ul li > ul{background:white;display:none;font-weight:normal;width:180px;height:auto;left:100%;position:absolute;top:0;z-index:1000;margin-left:21px;}
.amazonmenu ul li > ul li a span.nw-arow{float:right;background-image:url(../images/arrow-right.png);background-repeat:no-repeat;width:7px;height:10px;position:absolute;right:14px;top:7px;}
.amazonmenu ul li > ul li a:hover{color:#008ac5 !important;}
.amazonmenu ul li > ul li a:hover span.nw-arow{background-position:bottom right;}
.amazonmenu ul li > ul li ul.nw-wdth{width:226px;max-height:390px;float:left;top:-2px !important;padding-left:40px !important;height:auto;margin-left:-30px;overflow:auto;}
.amazonmenu ul li > ul li ul.nw-wdth li.difr-stl{border:none;color:#000000;font-size:16px;font-family:'source_sans_prosemibold';font-weight:normal;margin-bottom:8px;}
.amazonmenu ul li > ul li ul.nw-wdth li{list-style:none;border-bottom:1px solid #ededed;width:160px;height:auto;float:left;}
.amazonmenu ul li > ul li ul.nw-wdth li a{color:#000000;font-size:14px;font-family:'source_sans_proregular';font-weight:normal;margin-bottom:0px;padding:2px 0px 3px;}
@media screen and (max-width:480px){.amazonmenu ul li > div, .amazonmenu ul li > ul{left:30px;}
.amazonmenu > ul li.hassub.selected::after{background:#eee;content:'';height:100%;left:0;opacity:.8;pointer-events:none;position:absolute;top:0;width:100%;z-index:1;}
}