/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/

.owl-theme .owl-controls{
	/* margin-top: 10px; */
	text-align: center;
	/* position: absolute;
	top: -12px;
	right: 0px; */
}
.owl-pagination{
	position: absolute;
	top: -40px;
	right: 0px;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons {
	width:100%;
	position:relative;
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
/*	margin: 5px;
	padding: 3px 10px;*/
/*	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;*/
	
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
	background-image:url(../../../images/front/slides/arrow.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	display:block;
	height:54px;
	width:29px;
	position:absolute;
	left:10px;
	top:-270px; /* 208 */
	display:none;
}
.owl-theme .owl-controls .owl-buttons .owl-next{
	background-image:url(../../../images/front/slides/arrow.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	display:block;
	height:54px;
	width:29px;
	position:absolute;
	right:10px;
	top:-270px; /* 208 */
	display:none;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover{
	background-position:left top;
}
.owl-theme .owl-controls .owl-buttons .owl-next:hover{
	background-position:right top;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/*.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);
	opacity: 1;
	text-decoration: none;
}*/

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 10px;
	height: 10px;
	margin: 0px 5px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	/* background: url(AjaxLoader.gif) no-repeat center center; */
	background: url(../../../images/front/slides/bx_loader.gif) no-repeat center center; 
}
@media screen and (min-width: 320px) and (max-width:496px){
	#owl-demo .item img{
		width:96%;
		margin:auto;
	}
	.owl-theme .owl-controls .owl-buttons .owl-prev,
	.owl-theme .owl-controls .owl-buttons .owl-next{
		top:-24px;
	}
}