@charset "utf-8";
/* CSS Document */
@import url('responsive576.css');
@import url('responsive767.css');
@import url('responsive991.css');
@import url('responsive1199.css');
/*
@media only screen and (max-width: 520px) {
	input[type="text"], input[type="password"], input[type="submit"], input[type="button"], button, textarea, select{
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	select{
		background-image:url(../front_images/sel-arr.png)!important;
		background-position:99% 9px!important;
		background-repeat:no-repeat!important;
	}
	input[type="text"], input[type="password"], input[type="submit"], input[type="button"], button, textarea, select{
		border-radius:0px;
	}
}

@media only screen and  (min-width: 1021px) and (max-width: 1245px) {
}
*/



