*{
	margin:0px;
	padding:0px;
}
html{
	min-height:100%;
}
body{
	background:url(../images/ed-background.jpg) no-repeat center center fixed #000; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:100%;
}
.wrapper{
	width:1170px;
	height:auto;
	margin:auto;
	float:none;
}
ed_container{
	width:100%;
	height:auto;
	float:left;
}
.ed-cvr{
	width:100%;
	height:auto;
	float:left;
}
.ed-cvr table{
    position: absolute;
    height: 100%;
    vertical-align: middle;
}
.ed_coming_soon {
    width: 435px;
    float: left;
    height: auto;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 30px 25px;
    text-align: center;
}
.ed_coming_soon h1 {
    font-family: 'sauber_scriptregular';
    font-size: 100px;
    color: #00a2e8;
    font-weight: normal;
    line-height: 0.8;
    padding-bottom: 25px;
}
.ed_coming_soon p{
    font-size: 15px;
    font-family: open_sansregular;
    font-weight: normal;
    color: #000;
}
.ed_coming_soon p span{
	text-decoration:none;
	color:#00a2e8;
} 
.ed_coming_soon p a:hover{
	text-decoration:underline;
}
.ed-social a{
    margin-right: 11px;
	
}
.ed-social img{
	border:none;}
.ed-search {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
}
.ed-search input[type="text"] {
    margin: 0px;
    padding: 0px 26% 0px 4%;
    width: 70%;
    height: 43px;
    border-radius: 30px;
    box-shadow: inset 0px 3px 5px -2px #888;
    outline: none;
    border: 0px solid #dddddd;
    font-family: open_sansregular;
    font-style: italic;
    color: #000;
    font-size: 14px;
}
.ed-search input[type="button"], 
.ed-search input[type="submit"] {
    position: absolute;
    top: 0px;
    right: 0px;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 43px; /* 100% */
    padding: 0px 17px;
    border: 0px;
    background-color: #00a2e8;
    color: #fff;
    font-family: open_sanssemibold;
    font-size: 14px;
	cursor: pointer;
	outline: none;
	border:none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.ed-search input[type="button"]:hover, 
.ed-search input[type="submit"]:hover {
	background-color:#000;
}
.ed_coming_soon h3{
    font-size: 40px;
    font-family: open_sansbold;
    line-height: 1.3;
    font-weight: normal;
    padding-bottom: 30px;
}
.ed-error{
	float:left;
	width:auto;
	height:auto;
	clear:both;
	font-family: 'open_sanssemibold';
	font-size:13px;
	color:#F00;
	padding:6px 0px 0px 15px;
}

/*---------Responsive work starts here-----------*/


@media only screen and (max-width: 520px) {
	input[type="text"], input[type="password"], input[type="submit"], input[type="button"], button, textarea, select{
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}

@media only screen and (max-width:1200px) and (min-width:0px) {
.wrapper{
	width:90%;
	height:auto;
	margin:auto;
	float:none;
}
}
@media only screen and (max-width:550px) and (min-width:0px) {
.ed_coming_soon {
    width: 88%;
    float: left;
    height: auto;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 15px 6%;
    text-align: center;
}	
.ed-cvr table {
    position: absolute;
    height: 100%;
    vertical-align: middle;
    width: 90%;
}
.ed-search {
    margin-top:20px;
    margin-bottom:20px;
}
.ed_coming_soon h3 {
    padding-bottom: 20px;
}
.ed_coming_soon h1 {
    padding-bottom: 20px;
}
.ed_coming_soon h1 {
    font-size: 80px;
}
.ed_coming_soon h3 {
    font-size: 30px;
}	
.ed_coming_soon p {
    font-size: 14px;
}
}

@media only screen and (max-width:400px) and (min-width:0px) {

.ed-search input[type="text"] {
    margin: 0px;
    padding: 0px 43% 0px 4%;
    width: 53%;
}

.ed-social {
    float: left;
    height: auto;
	padding-left: 15px;
}
.ed-social a {
    margin-right: 11px;
    float: left;
    width: 40px;
}
.ed-social img {
    border: none;
    width: 100%;
}
}
@media only screen and (max-width:480px) and (min-width:400px) {
.ed-search input[type="text"] {
    margin: 0px;
    padding: 0px 34% 0px 4%;
    width: 62%;
}
}


/*---------Responsive work ends here-----------*/